[2015-01-26 17:13] jisaacks opened #2 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:13] jisaacks opened #3 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:13] jisaacks opened #4 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:14] jisaacks opened #5 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:14] jisaacks opened #6 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:14] jisaacks opened #7 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:14] jisaacks opened #8 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 17:14] jisaacks opened #9 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 18:22] jisaacks opened #10 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-26 19:23] thebeckyhamm commented on #9
Normal assignment: http://codepen.io/thebeckyhamm/pen/qEjgjK?editors=110

Hard assignment: http://codepen.io/thebeckyhamm/pen/RNgvXw?editors=110

[2015-01-26 19:39] jisaacks commented on #9
Great job!!!

[2015-01-26 19:39] #9 closed, assigned to thebeckyhamm

[2015-01-26 21:53] mrbrianleo commented on #6
http://codepen.io/brianleo/pen/bNRJEj

[2015-01-26 21:57] Kessaku commented on #3
http://codepen.io/m_bloechl/pen/QwgYPp?editors=110

[2015-01-26 22:40] ghost commented on #10
http://codepen.io/pablo15/pen/KwqJvg

http://codepen.io/pablo15/pen/NPgJga

[2015-01-26 23:19] ktrammell95 commented on #4
Ok here is my first try. I did some googling to find ways to make it look the way I wanted but I am having issues with my floats, I cannot figure out how to stop the text from going underneath my navigation when the screen is shrunk down (if that is even possible). It's nothing fancy but I am happy with my first try.

http://codepen.io/ktrammell95/pen/wBeOee

[2015-01-27 02:27] jisaacks commented on #6
Great work Brian!

[2015-01-27 02:27] #6 closed, assigned to mrbrianleo

[2015-01-27 02:34] jisaacks commented on #4
Great job Katherine!

Don't worry about understanding floats yet, we will cover those soon.

I am not sure what you are describing, if you want to show me tomorrow I can help you.

Overall looks great! :)

[2015-01-27 02:34] #4 closed, assigned to ktrammell95

[2015-01-27 02:40] jisaacks commented on #10
Decent job Pablo :+1:

I want to give you a pointer. Notice how the beginning paragraph after the embedded video does not start on a new line but to the right of the video? That makes the paragraph hard to read. You could avoid that by not putting the video inside the `< p >` tag.

[2015-01-27 02:40] #10 closed, assigned to nobody

[2015-01-27 02:42] tawnimartin commented on #8
Hi JD!

Here's my homework:
http://codepen.io/tawnimartin/pen/azwMVr
http://codepen.io/tawnimartin/pen/rawPrp

Tawni

[2015-01-27 02:48] mewilkerson commented on #5
http://codepen.io/mewilkerson/pen/dPRaaL?editors=110

[2015-01-27 02:53] jisaacks commented on #3
Good work Mark.

[2015-01-27 02:53] #3 closed, assigned to Kessaku

[2015-01-27 02:59] jisaacks commented on #8
Love it!

[2015-01-27 02:59] #8 closed, assigned to tawnimartin

[2015-01-27 03:15] SarrahV commented on #7
http://codepen.io/sarrahvesselov/pen/YPQBOb/

[2015-01-27 03:17] jisaacks commented on #5
Hi Matt! Overall this satisfies the requirements. Your HTML is valid, but you have some issues in your CSS. in the below snippet from your homework:

[code]

You specify a `font-family` with no value. Also please be sure to end all of your values with a semicolon.

---

Next time You may also want to spend a little effort on making it a little more easier to read. For example, the black text **Sun

[2015-01-27 03:17] #5 closed, assigned to mewilkerson

[2015-01-27 03:36] jisaacks commented on #7
Good job Sarrah! Funny too. Makes me think of this bigfoot movie I saw recently:

![willow creek](http://upload.wikimedia.org/wikipedia/en/3/3e/Willow_Creek_poster.jpg)

[2015-01-27 03:36] #7 closed, assigned to SarrahV

[2015-01-27 13:10] J5Beck commented on #2
http://codepen.io/J5Beck/pen/pvwmVe

I apologize but I ran out of time and was unable to complete this due a couple of other issues.  I'll make it up and finish it as soon as I can.

[2015-01-27 19:21] jisaacks opened #11 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:22] jisaacks opened #12 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:22] jisaacks opened #13 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:22] jisaacks opened #14 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:22] jisaacks opened #15 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:22] jisaacks opened #16 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:23] jisaacks opened #17 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:23] jisaacks opened #18 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:23] jisaacks opened #19 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 19:50] mrbrianleo commented on #16
Repository...
https://github.com/mrbrianleo/tiy-assigment-2

[2015-01-27 19:53] jisaacks commented on #2
Thanks, Jeff. I appreciate you turning in what you have. Incomplete work is better than late work. However, as it is now, I can only give partial credit for completing this as the HTML is invalid. So yes, please try to get to that when you can.

[2015-01-27 19:55] ktrammell95 commented on #14
Ok I did as much as I could think to do and even started in CSS just because it made it easier for me to think through by going at that part right away. I am sure there are things I missed or there might be a better way to do them so I am looking forward to your feedback.

https://github.com/ktrammell95/tiy-assignment-2

[2015-01-27 19:56] Kessaku commented on #12
This is the link to the home work.  I did really do 15 of them, messed up the comment on number 5.  I'm going to try to figure out how to do an edit on the comment, if you can.  Linux rules.  https://github.com/Kessaku/tiy-assignment-2

[2015-01-27 20:05] thebeckyhamm commented on #11
Normal and Hard: https://github.com/thebeckyhamm/tiy-assignment-2

Nightmare: http://thebeckyhamm.github.io/tiy-assignment-2/

[2015-01-27 20:08] jisaacks commented on #14
@ktrammell95 you did great! Bravo!

My only feedback would be to look at your stylesheet. There are a lot of duplicate styles there. for example the **.interests** and the **.favorites** style blocks are exactly the same. How could you [**_DRY**_](http://en.wikipedia.org/wiki/Don%27t_repeat_yourself) that up?

[2015-01-27 20:08] #14 closed, assigned to ktrammell95

[2015-01-27 20:10] mrbrianleo commented on #16
Commit e4d381a is the hard mode homework https://github.com/mrbrianleo/tiy-assigment-2/commit/e4d381a68a613eebf6372157722dc4040f0adf27

[2015-01-27 20:14] jisaacks commented on #11
Becky, once again, great work! One of these days I will come up with enough things to keep you busy till 5pm!

[2015-01-27 20:14] #11 closed, assigned to thebeckyhamm

[2015-01-27 20:16] jisaacks commented on #16
Good job! :+1:

[2015-01-27 20:16] #16 closed, assigned to mrbrianleo

[2015-01-27 20:21] SarrahV commented on #18
https://github.com/SarrahV/tiy-assignment-2

[2015-01-27 20:24] mrbrianleo commented on #16
Adding nightmare mode http://mrbrianleo.github.io/tiy-assigment-2/

[2015-01-27 20:25] ktrammell95 commented on #14
Ok I looked at it again and put them both in the same class name since they were the same stylings.  Is there more I could do or would that be about it?

[2015-01-27 20:32] mrbrianleo commented on #16
And playing around a little more http://tiy.theleoreport.com/

[2015-01-27 20:37] ghost commented on #17
here is the link to my repository: https://github.com/pablo15/tiy-assigment-2

[2015-01-27 20:42] SarrahV commented on #18
http://sarrahv.github.io/

[2015-01-27 20:45] J5Beck commented on #13
https://github.com/J5Beck/tiy-assignment-2/commits/master/index.html

[2015-01-27 21:01] jisaacks commented on #14
@ktrammell95 if you wanted to keep them named differently you could have dry'ed up the css like this:

[code]

Either way is valid.

[2015-01-27 21:02] jisaacks commented on #17
Nice work :+1:

[2015-01-27 21:02] #17 closed, assigned to nobody

[2015-01-27 21:06] jisaacks commented on #18
Great work! :shipit:

[2015-01-27 21:06] #18 closed, assigned to SarrahV

[2015-01-27 21:08] jisaacks commented on #13
Good job.

[2015-01-27 21:08] #13 closed, assigned to J5Beck

[2015-01-27 21:09] jisaacks commented on #12
Nice Work.

[2015-01-27 21:09] #12 closed, assigned to Kessaku

[2015-01-27 21:16] tawnimartin commented on #19
Hi JD!

Here's my homework:
https://github.com/tawnimartin/tiy-assignment-2/commits/master
http://codepen.io/tawnimartin/pen/ZYJGEO

Tawni

[2015-01-27 22:04] jisaacks opened #20 "Assignment 1"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/001#012615

[2015-01-27 22:04] jisaacks opened #21 "Assignment 2"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/002#012715

[2015-01-27 23:49] mewilkerson commented on #15
Assignment 2: https://github.com/mewilkerson/tiy-assignment-2

[2015-01-28 01:16] jisaacks commented on #15
Good job!

[2015-01-28 01:16] #15 closed, assigned to mewilkerson

[2015-01-28 01:18] jisaacks commented on #19
Awesome!

[2015-01-28 01:18] #19 closed, assigned to tawnimartin

[2015-01-28 10:18] SlavicaM commented on #20
<!DOCTYPE html>

<html>
  <head>
    <title>
      Creeme Brulee Recipe - Slavica's Kitchen
    </title>
      <style>
       #maindiv {
       width: 900px;
       height: 500px;
       margin: 0 auto;
       background-color: #eec;
       }

[code]

a:link {
    color: #FF0000;
}

/\* visited link */
a:visited {
    color: #00FF00;
}

/\* mouse over link */
a:hover {
    color: #FF00FF;
}

/\* s

[2015-01-28 21:22] jisaacks opened #22 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:23] jisaacks opened #23 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:23] jisaacks opened #24 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:23] jisaacks opened #25 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:24] jisaacks opened #26 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:24] jisaacks opened #27 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:24] jisaacks opened #28 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:24] jisaacks opened #29 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:24] jisaacks opened #30 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 21:25] jisaacks opened #31 "Assignment 3"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/003#012815

[2015-01-28 22:32] thebeckyhamm commented on #31
Repo: https://github.com/thebeckyhamm/tiy-assignment-3
Page: http://thebeckyhamm.github.io/tiy-assignment-3/

[2015-01-28 23:52] J5Beck commented on #22
https://github.com/J5Beck/TIY-assignment-3/tree/master

http://j5beck.github.io/TIY-assignment-3/

[2015-01-29 00:14] SarrahV commented on #28
http://sarrahv.github.io/tiy-assignment-3/octodex.html

https://github.com/SarrahV/tiy-assignment-3

[2015-01-29 00:19] Kessaku commented on #23
http://kessaku.github.io/tiy-assignment-3/octodex.html
https://github.com/Kessaku/tiy-assignment-3

[2015-01-29 00:43] mrbrianleo commented on #26
github page - http://mrbrianleo.github.io/tiy-assigment-3/octodex.html
repo - https://github.com/mrbrianleo/tiy-assigment-3

[2015-01-29 00:45] tawnimartin commented on #30
Hi JD!

Here is our homework:
https://github.com/tawnimartin/tiy-assignment-3/tree/gh-pages
http://tawnimartin.github.io/tiy-assignment-3/

[2015-01-29 00:45] ghost commented on #27
Here is the page: http://pablo15.github.io/tiy-assigment-3/octodex.html

Here is the repository: https://github.com/pablo15/tiy-assigment-3/tree/gh-pages

[2015-01-29 00:54] mewilkerson commented on #25
Repo link to third assignment: https://github.com/mewilkerson/tiy-assignment-3/tree/gh-pages

GH-Pages link: http://mewilkerson.github.io/tiy-assignment-3/

Thanks!

[2015-01-29 04:10] ktrammell95 commented on #24
Ok i did my best with major help.  I tried merging and pushing it to github but not sure what I am doing wrong. So just in case here are my links and if I missed something I would like to work with you tomorrow so I can make sure I get the right process.

http://ktrammell95.github.io/Octodex/

https://github.com/ktrammell95/Octodex

I'm definitely going to need to work on my CSS and Github stuff.

[2015-01-29 20:53] SlavicaM commented on #21
Here is the link to the second assignment
https://github.com/SlavicaM/tiy-assignment-2/commits/master

[2015-01-30 01:47] jisaacks opened #32 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:48] jisaacks opened #33 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:48] jisaacks opened #34 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:49] jisaacks opened #35 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:49] jisaacks opened #36 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:49] jisaacks opened #37 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:50] jisaacks opened #38 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:50] jisaacks opened #39 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:50] jisaacks opened #40 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:50] jisaacks opened #41 "Assignment 4"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/004#012915

[2015-01-30 01:56] jisaacks commented on #22
Looks good!

[2015-01-30 01:56] #22 closed, assigned to J5Beck

[2015-01-30 01:57] jisaacks commented on #23
Good job!

[2015-01-30 01:57] #23 closed, assigned to Kessaku

[2015-01-30 01:58] jisaacks commented on #25
Great job!

[2015-01-30 01:58] #25 closed, assigned to mewilkerson

[2015-01-30 01:58] jisaacks commented on #26
Looks good!

[2015-01-30 01:58] #26 closed, assigned to mrbrianleo

[2015-01-30 02:03] jisaacks commented on #27
This is pretty close. Your small images are not aligned with the text though. Also your font is a serif font instead of a sans serif font. Your work looks much different from your partners. Did you have issues working together?

[2015-01-30 02:03] #27 closed, assigned to nobody

[2015-01-30 02:04] jisaacks commented on #28
It looks really good. Do you have any ideas on how you could have made the triangles to not have a gap between them and the image above them?

[2015-01-30 02:04] #28 closed, assigned to SarrahV

[2015-01-30 02:07] ghost commented on #27
No we worked fine together. Our approach was to both work on it and share each other's code and collaborate when we needed to. We worked on it fine together. At one point both of us started over from scratch so that is why our work probably looks different.

[2015-01-30 02:20] jisaacks commented on #30
Looks fantastic Tawni!

[2015-01-30 02:20] #30 closed, assigned to tawnimartin

[2015-01-30 02:22] jisaacks commented on #31
Great work! (As usual)

[2015-01-30 02:22] #31 closed, assigned to thebeckyhamm

[2015-01-30 02:35] jisaacks commented on #21
Thank you slavica. I was confused by some of your earlier commits. It looks like at first you were just copying and pasting some code from github. But then you removed it and actually started fixing some of the HTML. Good work on the later commits!

[2015-01-30 02:35] #21 closed, assigned to SlavicaM

[2015-01-30 04:04] SlavicaM commented on #21
Hi JD,
Sorry for the confusion. I made some mistakes at the beginning. It was much easier to copy the original HTML then to spend time figuring out what got wrong.It was very good exercise for my old 4.1 HTML skills. Time to forget deprecated tags.

Thanks,
S.

---------- Original Message ----------
From: JD Isaacks notifications@github.com
To: tiy-tpa-js-q1-2015/assignments assignments@noreply.gi

[2015-01-30 13:16] SarrahV commented on #28
That space was (and still is) driving me crazy. I tried moving the triangle onto the octocat img a tag instead of before the footer div, but I am getting the same space. If I inspect element, the a tag has a default width of 302 and a height of 9px. This appears to be what is pushing the triangle away from the img.  I feel like I am close, but missing a vital piece of the puzzle.

[2015-01-30 19:13] jisaacks commented on #24
Look great Katherine! :)

[2015-01-30 19:13] #24 closed, assigned to ktrammell95

[2015-01-30 19:53] thebeckyhamm commented on #41
Repo: https://github.com/thebeckyhamm/tiy-assignment-4

Site: http://thebeckyhamm.github.io/tiy-assignment-4/

I may do a responsive version over the weekend too.

[2015-02-01 18:15] tawnimartin commented on #40
Hi JD!

Here's my homework assignment:

https://github.com/tawnimartin/tiy-assignment-4/tree/gh-pages
http://tawnimartin.github.io/tiy-assignment-4/

I want to continue working on it... I'd like to completely style all the breakpoints, but a few basic responsive styles are in there (easy to do since I converted the font sizes to ems!)  And I want to convert the CSS to LESS... but most likely won't

[2015-02-01 20:03] SarrahV commented on #38
http://sarrahv.github.io/tiy-assignment-4/

Here is a static version of the site. I branched and began attempting to make it responsive but found myself falling further and further down the rabbit hole. I'd get one part to work and everything else would become a mess. Responsive design is an area I have had very limited experience with and I still find it very confusing. I think I will do some res

[2015-02-01 23:01] ktrammell95 commented on #34
I am sure there are places where I could clean up my code but working on this 3 days straight was exhausting so I give up at this point.  I am super slow but was so excited when I finally got that image hover thing to work! Woot Woot!

http://ktrammell95.github.io/tiy-assignment-4/
https://github.com/ktrammell95/tiy-assignment-4/tree/gh-pages

[2015-02-01 23:20] Kessaku commented on #33
git@github.com:Kessaku/tiy-assignment-4.git
https://github.com/Kessaku/tiy-assignment-4/blob/master/index.html
https://github.com/Kessaku/tiy-assignment-4/blob/master/main.css
Got almost all of it to eork right, except for the stuff at the bottom.  I will continue to tinker with it though.  See you in the morning.

[2015-02-02 04:29] mrbrianleo commented on #36
Hey JD,

GH PAGE - http://mrbrianleo.github.io/tiy-assigment-4/
REPO - https://github.com/mrbrianleo/tiy-assigment-4

Had quite a bit of trouble with this one, I definitely need to refactor my main.less file as there could be some cleanup, but after all weekend on this thing, my brain is toast.  I may come back and work on this project in spare time to fix it some more.

[2015-02-02 05:05] SlavicaM commented on #29
http://codepen.io/Mihailovic/pen/BywaNo?editor=110

[2015-02-02 05:44] ghost commented on #37
Since: https://raw.githubusercontent.com/tiy-tpa-js-q1-2015/assignments/master/004/_meta/surf-paddle.png is rendered in a browser it has a margin of 8 pixels. When you use an image layer in: Perfect Pixel it does not add a margin. So I set both the X and Y to 8 and then tried to line everything up as close as possible. Here is my git hub page: http://pablo15.github.io/tiy-assigment-4/  Also I am g

[2015-02-02 05:46] J5Beck commented on #32
The longer I keep at this the worse I'm making it so I'm turning in what I have for now before my computer breaks.
https://github.com/J5Beck/tiy-assignment-4

The gh-pages isn't working for some reason it's showing I'm branched and add's, commits and pushes are working as ordered but .... the page won't load.  http://j5beck.github.io/TIY-assignment-4/

[2015-02-02 13:32] J5Beck commented on #2
JD - please take another look....
http://codepen.io/J5Beck/pen/pvwmVe

[2015-02-02 20:39] jisaacks opened #42 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:39] jisaacks opened #43 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:39] jisaacks opened #44 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:39] jisaacks opened #45 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:39] jisaacks opened #46 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:40] jisaacks opened #47 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:40] jisaacks opened #48 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:40] jisaacks opened #49 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:40] jisaacks opened #50 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:40] jisaacks opened #51 "Assignment 5"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/005#020215

[2015-02-02 20:53] thebeckyhamm commented on #51
Blog post: https://medium.com/@TheBeckyHamm/acronyms-and-flags-c295a2752192
Repo (normal, hard, and nightmare): https://github.com/thebeckyhamm/JS-Intro

Also I had a question that maybe you can answer tomorrow:
Initially in the if statement I wrote it as:

[code]

and I expected the 3rd if statement to overwrite the first 2 statements but it didn't (so I didn't see any FizzBuzz-es, just Fizz-es).

[2015-02-02 21:03] ktrammell95 commented on #44
https://github.com/ktrammell95/JS-Intro (Still working on nightmare)

https://medium.com/@ktrammell95/the-ironyard-tampa-and-the-start-of-week-2-and-javascript-a5d0d0ac20fb

[2015-02-02 21:13] ktrammell95 commented on #44
and nightmare mode is done!

[2015-02-02 21:37] jisaacks commented on #44
Katherine, Looks great!

Please take another look at the 7th question in normal.js though.

[2015-02-02 21:49] ktrammell95 commented on #44
oops that should be 10 shouldn't it... I think my brain assumed the "a" in the question was a typo

[2015-02-02 21:55] mrbrianleo commented on #46
Blog post - http://blog.theleoreport.com/the-iron-yard-st-pete-front-end-week1
Repo - https://github.com/mrbrianleo/JS-Intro

[2015-02-02 22:05] ghost commented on #47
https://medium.com/@pabloaguirre100/

https://github.com/pablo15/JS-Intro

[2015-02-02 22:09] mewilkerson commented on #45
JS-Intro Repo: https://github.com/mewilkerson/JS-Intro

[2015-02-02 22:10] mewilkerson commented on #45
Blog Post: https://medium.com/@mwilk2CB/im-going-on-a-journey-3a9d73fef0eb

[2015-02-02 22:11] mewilkerson commented on #45
Gonna work on Nightmare Mode tonight. If I figure it out I'll push it to the repo.

[2015-02-02 22:17] SarrahV commented on #48
https://github.com/SarrahV/tiy-assignment-5

https://medium.com/@SVesselov/thoughts-in-general-at-the-moment-7956e002389e

[2015-02-02 23:16] J5Beck commented on #42
I'm still trying to work out the nightmare.js but I pushed what I had.... I need to make some adjustments to get my Fizzbuzz in.
https://github.com/J5Beck/tiyAssignment-5

[2015-02-03 00:23] Kessaku commented on #43
https://medium.com/@iyokuteki/my-first-blog-post-8b3ef231bd54
https://github.com/Kessaku/assignment5/blob/master/nightmare.js
https://github.com/Kessaku/assignment5/blob/master/normal.js

[2015-02-03 00:37] jisaacks commented on #43
Hey Mark, overall great answers!

In the normal.js you missed some commas and apostrophes (not a huge deal) you also did get the answer wrong for the 6th question, you may have just over looked it.

As for your blog post, I know I did not specify a length it had to be, but 1 sentence is really not a blog post, it barely qualifies as a tweet :) Can you give me at least 1 paragraph please?

[2015-02-03 00:40] jisaacks commented on #42
Jeff, don't forget about the blog post :)

[2015-02-03 01:20] mrbrianleo commented on #46
JD,

Just playing around more with this at home, why does it work this way:

[code]

and this way

[code]

not quite sure I am understanding why or what the difference is between the == and === in this case...also wonder why the single = doesn't work.

[2015-02-03 01:36] jisaacks commented on #46
Brian, we have 3 operators here.
1.  `==` equality operator
2. `===` strict equality operator
3. `=` assignment operator

Notice the first 2, are in the same category **equality** checks which is what you are trying to do, you are trying to check if the value from `i % 3` is **equal** to **0**.

The `=` **asignment** operator is for assigning value. So if you were to do something like `i % 3 = 0`,

[2015-02-03 01:56] mrbrianleo commented on #46
Ok, great explanation, thank you.  Just to confirm the difference between == and === is basically that the === ensures that no type coercion takes place?

[2015-02-03 02:24] J5Beck commented on #42
Thanks for the reminder!
https://medium.com/@JL5Beck/first-blog-19a8f2b522c5

[2015-02-03 02:53] tawnimartin commented on #50
Hi JD!

Here's my homework assignment:

https://github.com/tawnimartin/JS-Intro
https://medium.com/@tawnimartin/first-week-at-ironyard-1a728bd6a2e9

Tawni

[2015-02-03 03:12] jisaacks commented on #46
Yep :) implicit type coercion is evil. Take a look at this:
http://stackoverflow.com/questions/359494/does-it-matter-which-equals-operator-vs-i-use-in-javascript-comparisons

On Mon, Feb 2, 2015 at 8:56 PM, Brian Leonard notifications@github.com
wrote:

[2015-02-03 03:26] jisaacks commented on #50
Great job on this. Also great blog post! I am not sure what issues you are dealing with and I do not want to pry. But you are doing great!! Keep up the good work. :+1:

The nightmare mode, you were very close. You will notice in your code, everytime you log "FizzBuzz" you also log "Fizz" right before it.

P.S. ActionScript was my first language too. It is actually based on the same [spec](http://e

[2015-02-03 03:26] #50 closed, assigned to tawnimartin

[2015-02-03 03:54] jisaacks commented on #42
Jeff, your answer: `var instructorName = "My Instructor's name is" + givenName + surName;`

would evaluate to:

What could you do to make it:

[2015-02-03 03:58] jisaacks commented on #46
Brian, your answer: `var greetingInstructorName = "My Instructor's name is " + givenName + surName;`

would evaluate to:

What could you do to make it:

[2015-02-03 04:02] jisaacks commented on #48
Sarrah, great work! I enjoyed your blog. Some areas of programming would involve math, but you can still a great programmer without a math background.

[2015-02-03 04:02] #48 closed, assigned to SarrahV

[2015-02-03 04:07] jisaacks commented on #51
Great job Becky!

I can go over this in class, do you mind if I use your code above and answer your question as part of the lecture?

[2015-02-03 04:07] #51 closed, assigned to thebeckyhamm

[2015-02-03 04:25] tawnimartin commented on #50
Thank you JD! :-)  Gah!  I totally realized about the Fizz being logged as well as the FizzBuzz about an hour ago... doh!  Ok, will fix!

[2015-02-03 04:29] tawnimartin commented on #50
Very cool about ActionScript!  Wow.. glad it's so similar in a lot of ways.. there was still so much I sort of taught myself about it... and had a lot of questions... getting those answered in Javascript.

[2015-02-03 04:37] mrbrianleo commented on #46
Updated normal.js in repo.  I added the space so you could make it:

[code]

[2015-02-03 12:09] thebeckyhamm commented on #51
That's fine with me. Thanks!

On Monday, February 2, 2015, JD Isaacks notifications@github.com wrote:

##

Becky Hamm
metricslice.com

[2015-02-03 12:44] J5Beck commented on #42
I need to add an + " " + in the middle of it

var instructorName = "My Instructor's name is " + givenName + '  ' + surName;

[2015-02-03 13:28] jisaacks commented on #42
Looks good Jeff, thanks!

[2015-02-03 13:28] #42 closed, assigned to J5Beck

[2015-02-03 13:33] jisaacks commented on #44
Thanks Katherine! I am glad you are having fun! ;)

[2015-02-03 13:33] #44 closed, assigned to ktrammell95

[2015-02-03 13:35] jisaacks commented on #46
Great thanks! :)

[2015-02-03 13:35] #46 closed, assigned to mrbrianleo

[2015-02-03 13:38] jisaacks commented on #45
Great work Matt! Loved your blog post!!! :+1: :+1: :+1:

[2015-02-03 13:38] #45 closed, assigned to mewilkerson

[2015-02-04 02:15] jisaacks opened #52 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:16] jisaacks opened #53 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:16] jisaacks opened #54 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:16] jisaacks opened #55 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:16] jisaacks opened #56 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:17] jisaacks opened #57 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:17] jisaacks opened #58 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:17] jisaacks opened #59 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:17] jisaacks opened #60 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 02:17] jisaacks opened #61 "Assignment 6"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/006#020315

[2015-02-04 03:11] mrbrianleo commented on #61
JD, here is the repo, I only got through question 5 that you helped me with in class.  I don't even know how to ask the right question to know where to start for the remainder.

https://github.com/mrbrianleo/JS-Day-2

[2015-02-04 03:18] Kessaku commented on #54
https://github.com/Kessaku/tiy-assignment-6/blob/master/lab5.js

Not really happy with what I got done.  I will keep at it though.

[2015-02-04 04:37] mewilkerson commented on #56
Dude. Hacking away for hours, now I'm brain dead. Here's what I got:

https://github.com/mewilkerson/JS-Day-2

[2015-02-04 04:48] tawnimartin commented on #60
Hi JD!

Here's my homework: https://github.com/tawnimartin/JS-Day-2

Tawni

[2015-02-04 05:14] J5Beck commented on #53
https://github.com/J5Beck/JS-Day-2

I made it through 5 but I'm getting an error when I try to push it.... Not sure if it's because I messed with the README.md on git hub or not... tried a git pull but that errored out too.

[2015-02-04 05:18] jisaacks commented on #53
What is the error? If you can't get your code on github, at least comment with it here.

[2015-02-04 06:54] ghost commented on #57
https://github.com/pablo15/JS-Day-2

[2015-02-04 12:35] SarrahV commented on #58
https://github.com/SarrahV/JS-Day-2

[2015-02-04 12:36] J5Beck commented on #53
Here's the error:
 ! [rejected]        master -> master (fetch first)
error: failed to push some refs to 'git@github.com:J5Beck/JS-Day-2.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') befor

[2015-02-04 12:54] thebeckyhamm commented on #52
normal.js repo: https://github.com/thebeckyhamm/JS-Day-2

[2015-02-04 13:55] ktrammell95 commented on #55
https://github.com/ktrammell95/JS-Day-2

Thats where I left off :(

[2015-02-04 19:25] SlavicaM commented on #49
https://github.com/SlavicaM/tiy-assignment-5

[2015-02-04 20:55] jisaacks commented on #47
Good job!!

[2015-02-04 20:55] #47 closed, assigned to nobody

[2015-02-04 20:55] jisaacks commented on #49
Don't forget to add your blog post! :)

[2015-02-04 20:57] jisaacks commented on #43
Mark did you see my comment about adding to your blog post?

[2015-02-04 21:16] tawnimartin commented on #60
Here's my updated DRY version!

https://github.com/tawnimartin/JS-Day-2

Tawni

[2015-02-04 21:54] tawnimartin commented on #60
Hi JD!

Updated assignment.. declared the variables and added a function to eliminate the nested for loop.

https://github.com/tawnimartin/JS-Day-2

Tawni

[2015-02-04 22:20] ktrammell95 commented on #55
I've updated my files but i had to do a lot of looking at your code from today and retyping it with notes to help me understand

[2015-02-04 23:47] Kessaku commented on #43
https://github.com/Kessaku/tiy-assignment-6/blob/master/Lab_5a.js

https://github.com/Kessaku/tiy-assignment-6/blob/master/lab5.js

You will need parts six and seven from lab5 for lab_5a.
No, I haven't looked at my blog yet.  See you in the morning.

[2015-02-05 04:03] mrbrianleo commented on #61
JD, see same repo above, I completed 1 - 7 and started breaking down 8 so you could see where my thought process was.  It's not complete at all, but you can at least see how I was trying to go about solving.  I didn't want to look at what we reviewed in class for any of the problems so I could truly try to solve them on my own.

[2015-02-05 04:53] SlavicaM commented on #49
https://github.com/SlavicaM/tiy-assignment-6
I'll do tomorrow. :)

[2015-02-05 06:02] ghost commented on #57
for my last for loop here was the code I was using: for (i=0; i < scrambledSentence.length; i++) for some reason I had to change the i to counter and it worked fine:  for (counter=0; counter < scrambledSentence.length; counter++) Can you explain this to me?

[2015-02-05 13:59] ktrammell95 commented on #55
Just ignore my practice file, I wanted to keep trying last night so i made up my own scenarios and forgot that I was in the repository that sent them here.

[2015-02-05 23:25] jisaacks commented on #2
@J5Beck Your HTML is still invalid. It needs to return as valid HTML when you check it with the validator here: https://html5.validator.nu/

[2015-02-05 23:26] jisaacks commented on #20
Hi Slavica, now that you know how to use codepen. Can you please resubmit this code via codepen?

[2015-02-05 23:27] jisaacks commented on #29
Good job on this!

[2015-02-05 23:27] #29 closed, assigned to SlavicaM

[2015-02-05 23:28] jisaacks commented on #32
@J5Beck please grab me during lab time tomorrow so I can help you get this working on github pages.

[2015-02-05 23:29] jisaacks commented on #33
@Kessaku You need to have this live on github pages.

[2015-02-05 23:30] jisaacks commented on #34
Great work Katherine! :)

[2015-02-05 23:30] #34 closed, assigned to ktrammell95

[2015-02-05 23:32] jisaacks commented on #35
@mewilkerson is there a reason why you have not turned this in yet?

[2015-02-05 23:34] jisaacks commented on #36
Hey Brian, good job on this. I was confused at first because you linked me to your master branch but your code was only in the gh-pages branch.

[2015-02-05 23:34] #36 closed, assigned to mrbrianleo

[2015-02-05 23:35] jisaacks commented on #37
Thanks Pablo.

[2015-02-05 23:35] #37 closed, assigned to nobody

[2015-02-05 23:38] jisaacks commented on #38
Thanks Sarrah, looks good. Next time also put a link to your repo so I can access it easier without hunting it down. :)

[2015-02-05 23:38] #38 closed, assigned to SarrahV

[2015-02-05 23:39] jisaacks commented on #40
Looks awesome Tawni!

[2015-02-05 23:39] #40 closed, assigned to tawnimartin

[2015-02-05 23:41] jisaacks commented on #41
Looks good.

[2015-02-05 23:41] #41 closed, assigned to thebeckyhamm

[2015-02-05 23:41] ghost commented on #37
im sorry. Thanks for what?

[2015-02-05 23:44] #43 closed, assigned to Kessaku

[2015-02-05 23:45] jisaacks commented on #49
Slavica, this is your assignment 5 issue. Please turn in assignment 6, in your assignment 6 issue.

[2015-02-05 23:46] jisaacks commented on #37
Thanks for getting your assignment done ;)

[2015-02-05 23:54] jisaacks commented on #52
Good job on getting this done on the first day :+1:

[2015-02-05 23:54] #52 closed, assigned to thebeckyhamm

[2015-02-05 23:55] jisaacks commented on #53
Have you been able to complete any more answers?

[2015-02-05 23:58] jisaacks commented on #54
Mark, can you fix these issues:
-  **sum** function is broken due to a syntax error
- **rot13** function does not return a value (you have your return commented out)
- **rot13** function removes spaces when converting, it should not.

[2015-02-06 00:00] jisaacks commented on #55
Good job :)

[2015-02-06 00:00] #55 closed, assigned to ktrammell95

[2015-02-06 00:02] jisaacks commented on #56
Good job so far. Your `reverseLetterIndex` function does not work yet. You still need to do the rot13 function as well. Please work on those.

[2015-02-06 00:03] jisaacks commented on #57
Great work Pablo.

[2015-02-06 00:03] #57 closed, assigned to nobody

[2015-02-06 00:05] jisaacks commented on #58
Please try to work on the last 2 functions. Others look great.

[2015-02-06 00:06] jisaacks commented on #60
Looks great Tawni.

FYI for the future, you don't need to declare the variables that are parameters in the function.

[2015-02-06 00:06] #60 closed, assigned to tawnimartin

[2015-02-06 00:09] jisaacks commented on #61
Brian, try to grab me at some point tomorrow, we can work together on the last problem, that way we can get this assignment completed and closed :)

[2015-02-06 00:51] SarrahV commented on #58
I absolutely will! I have no intention of leaving them undone, I just knew that I was not in a place to do them on my own. I kept referring to my notes and essentially copying them. The extra codeacademy tutorials I did online helped me to get in a better frame of mind.

[2015-02-06 01:18] SarrahV commented on #38
Sorry about that :-(

[2015-02-06 05:23] SlavicaM commented on #20
http://codepen.io/Mihailovic/pen/Kwvdxe

[2015-02-06 05:37] SlavicaM commented on #59
https://github.com/SlavicaM/tiy-assignment-6

[2015-02-06 14:28] jisaacks commented on #20
This is coming up as invalid HTML. It needs to be valid. I can show you how to test that it is valid.

[2015-02-06 14:31] jisaacks commented on #58
OK, try to get it done when you can. I am marking it incomplete for now. I am adding labels to unfinished assignments because it is getting hard to keep track.

[2015-02-06 14:32] jisaacks commented on #59
Slavica I just spoke with you in person about how to fix this.

[2015-02-06 14:34] jisaacks opened #62 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:35] jisaacks opened #63 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:35] jisaacks opened #64 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:43] SlavicaM commented on #49
Here is my twitter URL:
https://twitter.com/zsmiha_victoria

[2015-02-06 14:45] jisaacks opened #65 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:45] jisaacks opened #66 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:45] jisaacks opened #67 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:45] jisaacks opened #68 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:46] jisaacks opened #69 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:46] jisaacks opened #70 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:47] jisaacks opened #71 "Assignment 7"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/007#020515

[2015-02-06 14:51] jisaacks commented on #49
Thanks Slavica, I don't need your twitter URL though, I need the link to your blog post.

[2015-02-06 17:12] SlavicaM commented on #49
https://medium.com/@zsmiha_victoria/hi-jd-b3dfca736b70

[2015-02-08 14:30] tawnimartin commented on #70
Hi JD!

Here's my homework:
https://github.com/tawnimartin/tiy-assignment-7/tree/gh-pages
http://tawnimartin.github.io/tiy-assignment-7/

Re: Answers.. This was hard!  So, it started to click for me when I thought of it as "data" and "data sets" if that make sense?  And chunking it, reducing the data I'm dealing with in steps, from more broad to more specific. Also, I tested each step of your wood

[2015-02-08 15:24] ghost commented on #67
http://pablo15.github.io/JS-Assignment-3/

https://github.com/pablo15/JS-Assignment-3

[2015-02-08 16:00] jisaacks commented on #70
Thank you so much. You are doing so good! :+1:

Some notes...

For Q1 of answers.js you commented

You can start at the first element. Say you have this array `[ 1, 2, 5 ]` It is fine to add them all like `1 + 2 + 5`. What you are doing is also adding 0 like this: `0 + 1 + 2 + 5` which will give you the same right answer, and if you think doing that makes your code easier to read, that is fine. I

[2015-02-08 16:00] #70 closed, assigned to tawnimartin

[2015-02-08 16:37] tawnimartin commented on #70
Awesome!! :-)  Thank you so much for the feedback both positive and constructive - I definitely want code it the best way I can.  Ok, all makes sense… will update!  See you Monday!

[2015-02-08 23:00] Kessaku commented on #63
https://github.com/Kessaku/Assignment7/blob/master/007/answers.js
https://github.com/Kessaku/Assignment7/blob/master/007/Exercise.js

[2015-02-08 23:01] Kessaku commented on #63
Some of the answers still need work

[2015-02-09 00:06] SarrahV commented on #58
I updated this JD. I am still struggling with the last question. I had to use my notes and even then I can't quite get it to work.

[2015-02-09 00:58] SarrahV commented on #68
http://sarrahv.github.io/tiy-assignment-7/

https://github.com/SarrahV/tiy-assignment-7

[2015-02-09 01:50] thebeckyhamm commented on #71
Assignments: https://github.com/thebeckyhamm/assignment-7

GH Pages: http://thebeckyhamm.github.io/assignment-7/

[2015-02-09 02:33] mrbrianleo commented on #66
gh-pages  - http://mrbrianleo.github.io/tiy-assignment-7/
repo - https://github.com/mrbrianleo/tiy-assignment-7

[2015-02-09 04:07] ktrammell95 commented on #64
Still can't push my last few commits but here is my link just in case.

https://github.com/ktrammell95/JS-Day-3

[2015-02-09 05:03] mewilkerson commented on #65
http://mewilkerson.github.io/JS-week-1-proj/

[2015-02-09 05:17] SlavicaM commented on #69
https://github.com/SlavicaM/tiy-assignment-7

[2015-02-09 13:19] J5Beck commented on #62
https://github.com/J5Beck/JS-Week-2

http://j5beck.github.io/JS-Week-2/

[2015-02-09 13:24] J5Beck commented on #2
http://codepen.io/J5Beck/pen/pvwmVe

[2015-02-09 23:55] ktrammell95 commented on #64
I updated my files with some cleaning up and I still need to do #4 on answers but that one is really stressing me out

[2015-02-10 00:24] jisaacks commented on #67
Good job Pablo. I know I said it was ok to use `for` loops but make sure you are learning the other methods as well.

Also wanted to mention in the code [here](https://github.com/pablo15/JS-Assignment-3/blob/gh-pages/excercises.js#L216):

[code]

`!frequencyList[arrayHolder[i]] === false` is equivalent to just `!frequencyList[arrayHolder[i]]`

[2015-02-10 00:25] #67 closed, assigned to nobody

[2015-02-10 00:33] ghost commented on #67
ok thanks for the tip and yeah I will make sure I learn the other methods.

[2015-02-10 00:48] jisaacks commented on #71
Great job overall.

**A few notes tho:**

In the code for [Q2](https://github.com/thebeckyhamm/assignment-7/blob/master/answers.js#L44):

[code]

The functions themselves are logging the data (not returning it), so you don't need to log the function's return value. That is why you get the **undefined** printed to the console on your page.

---

In [Q3](https://github.com/thebeckyhamm/assignment-7/

[2015-02-10 00:48] #71 closed, assigned to thebeckyhamm

[2015-02-10 00:49] jisaacks commented on #69
Did you push this to github pages? If so please provide a link.

[2015-02-10 00:53] jisaacks commented on #68
Can you do me a quick favor? In you have some JavaScript errors, resuling from lines like [this](https://github.com/SarrahV/tiy-assignment-7/blob/master/excercises.js#L112):

I think you meant to make those comments. Please comment them out so I do not see JS errors when I view the console on your page. Also please `console.log` the answers from your answers.js

Thank you!

[2015-02-10 01:02] jisaacks commented on #66
Great work. You actually got the `charFreq` function wrong, it is saying the index of the last occurrence of each letter (not the count). Other than that, great job!

[2015-02-10 01:02] #66 closed, assigned to mrbrianleo

[2015-02-10 01:03] jisaacks opened #72 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:03] jisaacks opened #73 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:03] jisaacks opened #74 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:04] jisaacks opened #75 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:04] jisaacks opened #76 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:04] jisaacks opened #77 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:04] jisaacks opened #78 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:04] jisaacks opened #79 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:05] jisaacks opened #80 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:05] jisaacks opened #81 "Assignment 8"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/008#020915

[2015-02-10 01:10] jisaacks commented on #65
On this line: https://github.com/mewilkerson/JS-week-1-proj/blob/gh-pages/excercises.js#L74 you have an extra `)` which is causing a syntax error.

On this line https://github.com/mewilkerson/JS-week-1-proj/blob/gh-pages/answers.js#L25 you have another syntax error. Your function should look more like `if(currentMaterial === "wood") {` than `if(currentMaterial === "wood"; {}`

Please fix this issu

[2015-02-10 01:14] jisaacks commented on #64
Hey Katherine, on this line: https://github.com/ktrammell95/JS-Day-3/blob/gh-pages/answers.js#L114
You forgot to comment out that sentence and it is breaking your page and causing all the logs to not show. Please fix that and comment back so I can review it. Thanks! :)

[2015-02-10 01:20] jisaacks commented on #2
AWESOME! :) Thanks so much!!!

[2015-02-10 01:20] #2 closed, assigned to J5Beck

[2015-02-10 01:22] thebeckyhamm commented on #81
Clocks: https://github.com/thebeckyhamm/tiy-assignment-8
GH-Pages: http://thebeckyhamm.github.io/tiy-assignment-8/
Blog: https://medium.com/@TheBeckyHamm/lots-of-f-words-6d91848fb768

[2015-02-10 01:23] ktrammell95 commented on #64
Sorry about that, it should be commented out now

[2015-02-10 01:24] ktrammell95 commented on #74
Here is my github page, https://github.com/ktrammell95/jQuery-Day1
Here is my blog post,  https://medium.com/@ktrammell95/jquery-d98e307d3f2f

[2015-02-10 01:26] jisaacks commented on #62
Thanks for getting something turned in.

In this line of [code](https://github.com/J5Beck/JS-Week-2/blob/master/excercises.js#L46): `return item === char();` you are trying to invoke `char` like it is a function.

other than that, the code your turned in looks good. I can't offer advice on what you are doing wrong for the other parts because you just left them blank.

I am going to mark this incom

[2015-02-10 02:34] SarrahV commented on #78
Here is my blog post:

https://medium.com/@SVesselov/javascript-the-ugly-parts-7b2bec74b31e

Here is the Repo:

https://github.com/SarrahV/tiy-assignment-8

Here is the gh-pages:

http://sarrahv.github.io/tiy-assignment-8/

[2015-02-10 02:37] Kessaku commented on #73
https://github.com/Kessaku/tiy-assignment-8/blob/master/basicClock.css
https://github.com/Kessaku/tiy-assignment-8/blob/master/basicClock.html
https://github.com/Kessaku/tiy-assignment-8/blob/master/basicClock.js

[2015-02-10 02:50] tawnimartin commented on #80
Hi JD!

Here's my homework:
https://github.com/tawnimartin/tiy-assignment-8/tree/gh-pages
Part 1:   http://tawnimartin.github.io/tiy-assignment-8/index-clock.html
Part 2:   http://tawnimartin.github.io/tiy-assignment-8/index-hex.html

I haven't done the blog entry yet... I'm going to try to tonight... but might not be until tomorrow.

Tawni

[2015-02-10 03:49] mrbrianleo commented on #76
Blog - http://blog.theleoreport.com/the-iron-yard-front-end-week-two
Homework - http://mrbrianleo.github.io/tiy-assignment-8/
Repo - https://github.com/mrbrianleo/tiy-assignment-8

[2015-02-10 04:48] J5Beck commented on #72
http://j5beck.github.io/assignment-8/

https://github.com/J5Beck/assignment-8

https://medium.com/@JL5Beck/blog-2-week-2-down-and-onto-lower-case-3-4d3e956c4ad1

[2015-02-10 05:04] mewilkerson commented on #75
Blog Post: https://medium.com/@mwilk2CB/a-few-good-strokes-7c5c2149dd16
JS Clock: https://github.com/mewilkerson/JS-clock/tree/gh-pages ; http://mewilkerson.github.io/JS-clock/

Hex Clock: https://github.com/mewilkerson/Hex-clock/tree/gh-pages ; http://mewilkerson.github.io/Hex-clock/

[2015-02-10 06:06] ghost commented on #77
http://pablo15.github.io/JS-Assignment-4/

https://github.com/pablo15/JS-Assignment-4

https://medium.com/@pabloaguirre100/second-week-at-iron-yard-16f7c9dabcdd

[2015-02-10 13:40] Kessaku commented on #73
https://medium.com/@iyokuteki/new-entry-2-9-15-235e3052ba80

[2015-02-11 01:36] jisaacks commented on #72
Jeff, I see you did part 1, but what about part 2?

[2015-02-11 01:39] jisaacks commented on #73
Mark, this is supposed to be pushed to github pages (`gh-pages` branch) please do that so I can verify it works and mark it as complete.

[2015-02-11 01:40] jisaacks commented on #74
Looks great! Thanks.

[2015-02-11 01:40] #74 closed, assigned to ktrammell95

[2015-02-11 01:40] jisaacks commented on #75
Awesome! :+1:

[2015-02-11 01:40] #75 closed, assigned to mewilkerson

[2015-02-11 01:42] jisaacks commented on #76
Woot woot!! looks Great :)

[2015-02-11 01:42] #76 closed, assigned to mrbrianleo

[2015-02-11 01:43] jisaacks commented on #77
Awesome man!!! I see you even nailed the bonus mode! :+1: :+1:

[2015-02-11 01:43] #77 closed, assigned to nobody

[2015-02-11 01:48] jisaacks commented on #78
Wow I just looked at yours, and I though you actually just copied the screenshot, then I realized I just happened to be looking at yours at the exact same time as the screenshot (**8:44**) haha!

Also, I think you may be being too hard on yourself. We are only 1 week and 2 days into JS and I think you have made several little successes, you may just not be seeing them yet, but I am.

Great job by

[2015-02-11 01:48] #78 closed, assigned to SarrahV

[2015-02-11 01:51] jisaacks commented on #80
Tawni, your stuff always looks so amazing! I can't wait to see what you come up with for demo day!! Great job on the clocks! :+1:

[2015-02-11 01:51] #80 closed, assigned to tawnimartin

[2015-02-11 01:56] jisaacks commented on #81
Great job on this. Love how you abstracted the process of adding the zeros to a function you could reuse!

[2015-02-11 01:56] #81 closed, assigned to thebeckyhamm

[2015-02-11 02:07] J5Beck commented on #72
?? did you scroll down on the page? I put both of them on the same page.

[2015-02-11 02:11] tawnimartin commented on #80
Thanks so much! :-)

[2015-02-11 03:31] SlavicaM commented on #79
https://github.com/SlavicaM/tiy-assignment-8

[2015-02-11 04:51] SlavicaM commented on #49
https://medium.com/@zsmiha_victoria/if-you-are-recent-mac-user-you-might-find-this-keyboard-shortcuts-article-useful-30dfe6819c2d

[2015-02-11 05:06] SlavicaM commented on #49
I sent you the link for Assignment #5 five days ago.
https://github.com/SlavicaM/tiy-assignment-5

[2015-02-11 05:11] SlavicaM commented on #69
Yes, I sent you this link: https://github.com/SlavicaM/tiy-assignment-7
I did only part 2:
https://github.com/SlavicaM/tiy-assignment-7/blob/master/excercises.js

[2015-02-12 01:24] #72 closed, assigned to J5Beck

[2015-02-12 01:25] jisaacks opened #82 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

Sorry I didn't get this assigned earlier

[2015-02-12 01:26] jisaacks opened #83 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:26] jisaacks opened #84 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:26] jisaacks opened #85 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:26] jisaacks opened #86 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:27] jisaacks opened #87 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:27] jisaacks opened #88 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:27] jisaacks opened #89 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:27] jisaacks opened #90 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:28] jisaacks opened #91 "Assignment 9"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/009#021015

[2015-02-12 01:35] jisaacks commented on #79
Thanks for turning this in, but it needs to be pushed to github pages (gh-pages branch) so I can view it. If you are unsure how to do that, get with me or jason and one of us can help you.

[2015-02-12 01:38] jisaacks commented on #69
Thanks Slavica, github pages, is when you push to a special `gh-pages` branch so that is renders the html page. That needs to be done. Also please try to get the answers.js completed when you can. I will have to mark this incomplete for now.

[2015-02-12 01:42] jisaacks commented on #64
Thanks!

[2015-02-12 01:42] #64 closed, assigned to ktrammell95

[2015-02-12 01:49] jisaacks commented on #63
You will need to push this to `gh-pages` and make sure there are no JavaScript errors so I can review it. I will have to set to incomplete for now.

[2015-02-12 01:52] jisaacks commented on #58
OK Sarrah, try to get me or jason to sit with you for a few minutes at some point so we can help you get that last answer nailed, then we can mark this is completed :)

[2015-02-12 01:56] #49 closed, assigned to SlavicaM

[2015-02-12 04:03] thebeckyhamm commented on #85
Assignment: https://github.com/thebeckyhamm/tiy-assignment-9/
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-9/

[2015-02-12 04:28] ktrammell95 commented on #86
https://github.com/ktrammell95/tiy-assignment-9

I have to say I liked the HTML & CSS portions of this but the jQuery kicked my butt.  Had it not been for my husband helping me I would not have gotten this as close to done as I did.

I am still struggling with getting started on a new file. I get blocked up and panic and start to overthink it.  I've tried writing out steps and trying to visualize

[2015-02-12 04:40] tawnimartin commented on #91
Hi JD!

Here's my homework:
https://github.com/tawnimartin/tiy-assignment-9/tree/gh-pages
http://tawnimartin.github.io/tiy-assignment-9/

The calculator works, except for using the decimal point.  It's because I used parseFloat(".") when I added it to the variable (all by itself) which essentially ignores it. This could definitely be done better!  :-(  I could have used arrays rather than variable

[2015-02-12 06:01] mewilkerson commented on #88
http://mewilkerson.github.io/calculator/
JavaScript fail. Turning in what I got, going to bed.

[2015-02-12 11:57] ghost commented on #82
http://pablo15.github.io/JavaScript-5/

https://github.com/pablo15/JavaScript-5

[2015-02-12 12:21] mrbrianleo commented on #87
http://mrbrianleo.github.io/calculator/

[2015-02-12 12:38] SarrahV commented on #89
I am still trying to get it to calculate properly.

http://sarrahv.github.io/tiy-assignment-9/

https://github.com/SarrahV/tiy-assignment-9

[2015-02-12 13:07] J5Beck commented on #83
http://j5beck.github.io/assignment-9

https://github.com/J5Beck/assignment-9

[2015-02-12 13:33] Kessaku commented on #84
https://github.com/Kessaku/tiy-assignment-9/blob/master/calculator.css
https://github.com/Kessaku/tiy-assignment-9/blob/master/calculator.html
https://github.com/Kessaku/tiy-assignment-9/blob/master/calculator.js

Nt working, but what I got.

[2015-02-12 19:20] Kessaku commented on #73
https://github.com/Kessaku/tiy-assignment-8/tree/gh-pages
https://kessaku.github.io/tiy-assignment-8/basicClock.html

[2015-02-12 21:13] jisaacks commented on #73
Mark, this looks great. Thanks for getting it onto gh-pages. You still need to do the second clock with the changing background.

[2015-02-12 21:31] #82 closed, assigned to nobody

[2015-02-12 21:31] jisaacks commented on #82
Other than the code not being very DRY, good job.

[2015-02-12 21:36] SlavicaM commented on #20
https://github.com/SlavicaM/tiy-assignment-1

[2015-02-12 21:47] SlavicaM commented on #79
http://slavicam.github.io/tiy-assignment-8/

[2015-02-13 20:46] SlavicaM commented on #90
http://slavicam.github.io/assignment-9/calculator.html

[2015-02-15 00:32] jisaacks opened #92 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:33] jisaacks opened #93 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:33] jisaacks opened #94 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:33] jisaacks opened #95 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:33] jisaacks opened #96 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:34] jisaacks opened #97 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:34] jisaacks opened #98 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:34] jisaacks opened #99 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:34] jisaacks opened #100 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 00:35] jisaacks opened #101 "Assignment 10"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/010#021215

[2015-02-15 03:45] ktrammell95 commented on #94
https://github.com/ktrammell95/tiy-assignment-10

[2015-02-15 19:30] thebeckyhamm commented on #101
Assignment: https://github.com/thebeckyhamm/tiy-assignment-10
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-10/

[2015-02-15 19:48] SlavicaM commented on #90
http://slavicam.github.io/assignment-9/
I am not sure what I am doing wrong but I am getting 404 error on my github page.

[2015-02-15 19:57] SlavicaM commented on #69
I did answers.js as much as I could. I am not clear with Question #4. I probably need initial help.
Here is the link to the gitHub pages. However, the asnwers.js doesn't show up. I am not sure what is wrong.
http://slavicam.github.io/tiy-assignment-7

[2015-02-15 23:44] Kessaku commented on #93
https://github.com/Kessaku/tiy-assignment-10/blob/master/index.html
https://github.com/Kessaku/tiy-assignment-10/blob/master/main.css
https://github.com/Kessaku/tiy-assignment-10/blob/master/main.js

gh-pages really refuses to co-operate.  I will get this fixed in the morning before class.

[2015-02-16 02:12] mrbrianleo commented on #96
Etsy clone - http://mrbrianleo.github.io/etsy/

I still want to go back and refactor in LESS and add some additional functionality.

[2015-02-16 02:48] tawnimartin commented on #100
Hi JD!

Here's my homework:
https://github.com/tawnimartin/tiy-assignment-10/tree/gh-pages
http://tawnimartin.github.io/tiy-assignment-10/

Tawni

[2015-02-16 04:03] SlavicaM commented on #99
I am just half way through. I did the best as I could. Again, problem with the gh-pages.
Here is the link to the files:
https://github.com/SlavicaM/assignment-10

[2015-02-16 05:53] mewilkerson commented on #95
https://github.com/mewilkerson/etsy/tree/gh-pages
http://mewilkerson.github.io/etsy/

[2015-02-16 12:46] ghost commented on #97
i need to work on finishing this up

http://pablo15.github.io/Etsy-Assignment/

https://github.com/pablo15/Etsy-Assignment

[2015-02-16 13:14] J5Beck commented on #92
gh-pages: http://j5beck.github.io/assignment-10.
https://github.com/J5Beck/assignment-10

[2015-02-16 13:14] J5Beck commented on #92
help please

[2015-02-16 13:18] SarrahV commented on #98
http://sarrahv.github.io/tiy-assignment-10/

https://github.com/SarrahV/tiy-assignment-10

[2015-02-16 13:25] Kessaku commented on #93
http://kessaku.github.io/tiy-assignment-10/index.html

Did get git.

[2015-02-17 00:23] jisaacks opened #102 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:23] jisaacks opened #103 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:23] jisaacks opened #104 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:23] jisaacks opened #105 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:23] jisaacks opened #106 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:24] jisaacks opened #107 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:24] jisaacks opened #108 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:24] jisaacks opened #109 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:24] jisaacks opened #110 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 00:25] jisaacks opened #111 "Assignment 11"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/011#021615

[2015-02-17 01:24] Kessaku commented on #103
https://github.com/Kessaku/tiy-assignment-11/blob/master/refactor.js

Working on the other part.

[2015-02-17 02:13] ktrammell95 commented on #104
https://github.com/ktrammell95/tiy-assignment-11

[2015-02-17 02:58] mrbrianleo commented on #106
Part 1 - http://mrbrianleo.github.io/tiy-assigment-11

will add part 2 when complete

[2015-02-17 03:39] tawnimartin commented on #110
Hi JD!
Here's my homework:

http://tawnimartin.github.io/cat-tree/
http://tawnimartin.github.io/cat-tree/index2.html
https://github.com/tawnimartin/cat-tree/tree/gh-pages

I had made all my commits as one gh-pages... then I read that they should be separate gh-pages... Should I separate anyway?  I figured I should leave it as is for now so you can see all the commits.

[2015-02-17 03:57] jisaacks commented on #20
Slavica, this is still coming up as invalid. Did you check it here: https://html5.validator.nu/ ??

[2015-02-17 04:02] jisaacks commented on #69
This is because your gh-pages branch doesn't have your newer commits from master. Please add them to the gh pages branch so I can check them.

[2015-02-17 04:04] #79 closed, assigned to SlavicaM

[2015-02-17 04:06] jisaacks commented on #90
Please post links to BOTH your github pages URL and to your github REPO.

Also the calculator looks good but does not work and you did not even add any JavaScript?

[2015-02-17 04:08] jisaacks commented on #99
What is the problem? It does not look like you created a `gh-pages` branch. If you need help please grab myself or Jason. I cannot even look at this without it being up on gh-pages.

Thanks.

[2015-02-17 04:11] jisaacks commented on #35
@mewilkerson please get something turned in for this.

[2015-02-17 04:48] jisaacks commented on #110
No need to change anything. Looks great.

On Monday, February 16, 2015, Tawni Martin notifications@github.com wrote:

[2015-02-17 05:25] mrbrianleo commented on #106
Part 2 - http://mrbrianleo.github.io/tiy-assigment-11-b

[2015-02-17 06:23] ghost commented on #107
http://pablo15.github.io/tiy-assignment-11/

https://github.com/pablo15/tiy-assignment-11

[2015-02-17 12:26] SarrahV commented on #108
https://github.com/SarrahV/tiy-assignment-11

http://sarrahv.github.io/tiy-assignment-11/

[2015-02-17 13:00] J5Beck commented on #102
Repo: https://github.com/J5Beck/assignment-11

gh-pages:  http://j5beck.github.io/assignment-11

[2015-02-17 13:14] thebeckyhamm commented on #111
Assignment: https://github.com/thebeckyhamm/tiy-assignment-11
Site: http://thebeckyhamm.github.io/tiy-assignment-11/

[2015-02-17 14:06] mewilkerson commented on #105
https://github.com/mewilkerson/Refactor/tree/gh-pages
http://mewilkerson.github.io/Refactor/

https://github.com/mewilkerson/cat-tree
http://mewilkerson.github.io/Refactor/

[2015-02-17 19:54] Kessaku commented on #33
http://kessaku.github.io/tiy-assignment-4/

Yeaaaa.....sort of fixed

[2015-02-17 19:56] SarrahV commented on #68
O.K. I went in and made sure to clean up all of the extraneous comments, and I added the console.log to every answer on the answers.js. This should be good to go.

[2015-02-17 20:29] SarrahV commented on #58
I went over this again and corrected the syntax errors that were keeping the code from working. I still have a very hard time following what this is doing, but it does spit out the answer.

[2015-02-17 22:03] SarrahV commented on #89
Everything is working!

[2015-02-17 23:00] J5Beck commented on #53
https://github.com/J5Beck/JS-Day-2

[2015-02-17 23:01] J5Beck commented on #62
more progress...

https://github.com/J5Beck/JS-Week-2

http://j5beck.github.io/JS-Week-2/

[2015-02-17 23:07] J5Beck commented on #32
Still working on this but I do have the gh-pages working.  WIP

gh-pages:  http://j5beck.github.io/tiy-assignment-4/
repo:  https://github.com/J5Beck/tiy-assignment-4

[2015-02-17 23:07] jisaacks opened #112 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:07] jisaacks opened #113 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:08] jisaacks opened #114 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:08] jisaacks opened #115 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:08] jisaacks opened #116 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:08] jisaacks opened #117 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:09] jisaacks opened #118 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:09] jisaacks opened #119 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:09] jisaacks opened #120 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:09] jisaacks opened #121 "Assignment 12"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/012#021715

[2015-02-17 23:16] ktrammell95 commented on #114
https://medium.com/@ktrammell95/brain-why-must-you-hate-me-so-f1f1413195c3

[2015-02-18 00:06] jisaacks commented on #110
Awesome job! :+1:

[2015-02-18 00:06] #110 closed, assigned to tawnimartin

[2015-02-18 00:12] jisaacks commented on #111
Great job!! :)

On the bonus question you said:

Did you understand why it works?

[2015-02-18 00:12] #111 closed, assigned to thebeckyhamm

[2015-02-18 00:18] jisaacks commented on #114
Thanks Katherine. :)

It is very hard to train your brain to think in a way that makes code easy to understand. But once you do, it becomes much easier. We are only in week 4 and everyone is different but I have heard that most students have that big aha moment close to the end of class. So don't beat yourself up yet because class isn't even half over yet. Actually just over 25% and I think you ar

[2015-02-18 00:18] #114 closed, assigned to ktrammell95

[2015-02-18 00:24] jisaacks commented on #108
Good job! I am seeing progress!! :+1: :+1:

[2015-02-18 00:24] #108 closed, assigned to SarrahV

[2015-02-18 00:30] jisaacks commented on #107
Good job knocking out this assignment! :finnadie:

[2015-02-18 00:30] #107 closed, assigned to nobody

[2015-02-18 00:32] jisaacks commented on #106
Great job man! :)

[2015-02-18 00:32] #106 closed, assigned to mrbrianleo

[2015-02-18 00:43] jisaacks commented on #105
Good job for the most part. You got some parts wrong, and I will explain them below. But you are making progress and I am going to accept this as complete.

no. 7

[code]

Because you redefined the var `score` in each function, increaseScore will always set it to 1 and  decreaseScore will always set it to 4. But that doesn't even matter because you never return a value and the variables are trappe

[2015-02-18 00:43] #105 closed, assigned to mewilkerson

[2015-02-18 00:49] jisaacks commented on #104
Looks good.

[2015-02-18 00:49] #104 closed, assigned to ktrammell95

[2015-02-18 00:52] jisaacks commented on #102
Jeff, this is a HUGE improvement over last week. I would love to talk to you for a few minutes tomorrow on your progress. Please grab me at some point.

[2015-02-18 00:52] #102 closed, assigned to J5Beck

[2015-02-18 00:57] jisaacks commented on #103
Thanks Mark, don't worry about the other part, it was optional. I would rather you focus on getting caught up with all your other assignments.

[2015-02-18 00:57] #103 closed, assigned to Kessaku

[2015-02-18 00:58] jisaacks commented on #91
Great job! Tawni, if you want to go back later and fix that one last piece that is fine, or if you want ask me at some point that is fine too. But it looks good enough for me at this point.

[2015-02-18 00:58] #91 closed, assigned to tawnimartin

[2015-02-18 01:01] mrbrianleo commented on #61
JD, rot13 has been updated, repo above.

[2015-02-18 01:01] mrbrianleo commented on #116
Blog post - http://blog.theleoreport.com/mindset-shift

[2015-02-18 01:01] jisaacks commented on #89
Awesome sauce!!!

![](http://blog.coghillcartooning.com/wp-content/uploads/2014/09/Thumbs-Up-Bigfoot-cartoon-character-sketch-Coghill.jpg)

[2015-02-18 01:01] #89 closed, assigned to SarrahV

[2015-02-18 01:02] jisaacks commented on #88
Thanks Matt, please circle back to this when you can. You can do this! :)

[2015-02-18 01:03] jisaacks commented on #87
Looks great!

[2015-02-18 01:03] #87 closed, assigned to mrbrianleo

[2015-02-18 01:06] jisaacks commented on #86
Thanks Katherine. Love the flat look.

I am going to start helping with that problem (when applicable) by going over the homework after lunch, and just helping with getting started as to not be looking at a blank page. Many students have the same problem.

[2015-02-18 01:06] #86 closed, assigned to ktrammell95

[2015-02-18 01:15] jisaacks commented on #85
Fantastic job! Love the button press effect!!

[2015-02-18 01:15] #85 closed, assigned to thebeckyhamm

[2015-02-18 01:41] jisaacks commented on #116
Thanks Brian. Let's see how the next week goes with your new mindset :)

[2015-02-18 01:41] #116 closed, assigned to mrbrianleo

[2015-02-18 03:10] SlavicaM commented on #109
Here are the links:
https://github.com/SlavicaM/tiy-assignment-11/tree/gh-pages
http://slavicam.github.io/tiy-assignment-11

[2015-02-18 04:28] mewilkerson commented on #115
1) Blog Link: https://medium.com/@mwilk2CB/stress-test-5b95bedf6dc1
2) I'm turning in the farthest I got with assignment 4. It still needs a lot of work, but here is where I left it: https://github.com/mewilkerson/tiy-assignment-4/tree/gh-pages
3) I made the changes you recommended to the JS-week-1-proj (on both the excercises and answers files): https://github.com/mewilkerson/JS-week-1-proj/tree/

[2015-02-18 05:14] tawnimartin commented on #120
Hi JD!

Here's my homework/blog post!
https://medium.com/@tawnimartin/and-the-javascript-begins-15e0cf956de6

I hope you don't mind my sort of dry sense of humor... :-)))

[2015-02-18 05:24] jisaacks commented on #120
I thought it was great! :)

[2015-02-18 05:24] #120 closed, assigned to tawnimartin

[2015-02-18 05:54] ghost commented on #117
here is my blog post:

https://medium.com/@pabloaguirre100/i-miss-my-9-5-fe78bdb44fa8

[2015-02-18 13:01] thebeckyhamm commented on #111
Yep, especially after you explained it in class.

[2015-02-18 13:03] thebeckyhamm commented on #121
Blog: https://medium.com/@TheBeckyHamm/doing-real-sh-t-9cf537334123
Added pagination (haven't done categories yet, was working on something for the WD Instructor application): https://github.com/thebeckyhamm/tiy-assignment-10

[2015-02-18 13:04] SarrahV commented on #118
I believe that I was able to get all of my incomplete assignments worked out. Thank you for giving us the time to do that!

https://medium.com/@SVesselov/feeling-overloaded-5b243636eb21

[2015-02-18 13:34] J5Beck commented on #112
https://medium.com/@JL5Beck/blog-3-onto-week-4-d53062bf4bd9

[2015-02-19 01:37] #117 closed, assigned to nobody

[2015-02-19 01:37] #121 closed, assigned to thebeckyhamm

[2015-02-19 01:38] #118 closed, assigned to SarrahV

[2015-02-19 01:38] jisaacks opened #122 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:39] jisaacks opened #123 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:39] jisaacks opened #124 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:39] jisaacks opened #125 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:40] jisaacks opened #126 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:40] jisaacks opened #127 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:40] jisaacks opened #128 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:40] jisaacks opened #129 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:41] jisaacks opened #130 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 01:41] jisaacks opened #131 "Assignment 13"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/013#021815

[2015-02-19 02:09] SarrahV commented on #128
http://sarrahv.github.io/tiy-assignment-13/

[2015-02-19 02:21] ktrammell95 commented on #124
https://github.com/ktrammell95/tiy-assignment-13

[2015-02-19 03:13] SlavicaM commented on #129
http://slavicam.github.io/tiy-assignment-13/

[2015-02-19 03:24] jisaacks commented on #128
Everything looks great! Awesome job.

[2015-02-19 03:24] #128 closed, assigned to SarrahV

[2015-02-19 03:27] mrbrianleo commented on #126
http://mrbrianleo.github.io/tiy-assigment-13/

[2015-02-19 03:27] jisaacks commented on #129
This looks great so far! There is an error on the page tho. It looks like you used the name `KeepTopSecret` when you should have just used `KeepSecret`. Please fix that :)

[2015-02-19 03:30] jisaacks commented on #126
Awesome day today! I am totally stoked about how well you did on this. :+1:

[2015-02-19 03:30] #126 closed, assigned to mrbrianleo

[2015-02-19 05:02] mewilkerson commented on #125
https://github.com/mewilkerson/tiy-assignment-13/tree/gh-pages
http://mewilkerson.github.io/tiy-assignment-13/

[2015-02-19 05:38] ghost commented on #127
http://pablo15.github.io/tiy-assignment-13/

[2015-02-19 12:53] thebeckyhamm commented on #131
Repo: https://github.com/thebeckyhamm/tiy-assignment-13
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-13/

[2015-02-19 13:26] J5Beck commented on #122
http://j5beck.github.io/assignment-13

https://github.com/J5Beck/assignment-13

[2015-02-19 13:27] Kessaku commented on #123
https://kessaku.github.io/tiy-assignment-13

Done, but with a lot of help.  Still trying to figure it all out.

[2015-02-20 04:06] SlavicaM commented on #20
Sorry about that. I corrected the errors and checked with the W3C validator. I think it is good now.
https://github.com/SlavicaM/tiy-assignment-1

[2015-02-23 00:15] jisaacks opened #132 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:15] jisaacks opened #133 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:15] jisaacks opened #134 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #135 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #136 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #137 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #138 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #139 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:16] jisaacks opened #140 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:17] jisaacks opened #141 "Assignment 14"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/014#021915

[2015-02-23 00:26] ktrammell95 commented on #132
Finally had to just give up after working on it all weekend.  Functionality is not there but I never freaked out so that is a plus... I really want to keep working on this until I get it working.  Oh and I have no idea why github hates some of my images, I renamed them but no matter how many times I push it is refusing to see the new names.

https://github.com/ktrammell95/tiy-assignment-14

[2015-02-23 01:40] SarrahV commented on #138
I had a good handle on this at the beginning, a-lot of it made sense. Sometime yesterday I started to lose the thread and have made no progress since. I was logging each function in the app, so I know a lot of it was working...I just could not get it to show up on the page. Somewhere in the last hour I managed to break all of that. I don't think I can get any further without some guidance.

http:/

[2015-02-23 02:26] tawnimartin commented on #140
Hi JD!

Here's my homework:
http://tawnimartin.github.io/photo-gallery/
https://github.com/tawnimartin/photo-gallery/tree/gh-pages

Whew!  After much panic, it started clicking on Friday night. I just added the last thing missing - the active states on the navigation. Jquery didn't like the apostrophe in one of my group names, so I took it out.  Need to research how to fix this.

Tawni

[2015-02-23 02:44] mrbrianleo commented on #136
After leaving on Friday and reviewing this weekend, I realized I was just copying stuff and it was barely working.  So today I wanted to try to understand so I started over again and you can see what I have, but couldn't get any further without copying and wasn't really understanding what was going on...

http://mrbrianleo.github.io/photo-album

[2015-02-23 03:43] mewilkerson commented on #135
https://github.com/mewilkerson/tiy-assignment-14

[2015-02-23 03:54] thebeckyhamm commented on #141
gh pages: http://thebeckyhamm.github.io/tiy-assignment-14/
assignment: https://github.com/thebeckyhamm/tiy-assignment-14

[2015-02-23 03:56] ghost commented on #137
I have a few more things to add like the back button and Album Title. I will be working on it. I also want to make it look nicer.

http://pablo15.github.io/tiy-assignment-14/

https://github.com/pablo15/tiy-assignment-14

[2015-02-23 13:37] J5Beck commented on #133
gh-pages: http://j5beck.github.io/assignment-14

repo: https://github.com/J5Beck/assignment-14

[2015-02-24 02:21] jisaacks opened #142 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:21] jisaacks opened #143 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:22] jisaacks opened #144 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:22] jisaacks opened #145 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:22] jisaacks opened #146 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:23] jisaacks opened #147 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:23] jisaacks opened #148 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:23] jisaacks opened #149 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:23] jisaacks opened #150 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:23] jisaacks opened #151 "Assignment 15"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/015#022315

[2015-02-24 02:26] tawnimartin commented on #142
Hi JD!

Here's my homework:
My repo: https://github.com/tawnimartin/intro-to-bdd/tree/gh-pages
My gh-pages: http://tawnimartin.github.io/intro-to-bdd/

Not sure I'm going to be able to get to the blog tonight, but I will try!
Tawni

[2015-02-24 02:45] ktrammell95 commented on #145
https://github.com/ktrammell95/intro-to-bdd

https://medium.com/@ktrammell95/trying-a-different-view-8ab7e9ac027c

[2015-02-24 04:52] mewilkerson commented on #146
http://mewilkerson.github.io/intro-to-bdd/
https://github.com/mewilkerson/intro-to-bdd
https://medium.com/@mwilk2CB/week-5-75a2bb6dd263

[2015-02-24 06:04] ghost commented on #148
http://pablo15.github.io/tiy-assignment-15/

https://github.com/pablo15/tiy-assignment-15

https://medium.com/@pabloaguirre100/it-s-finally-on-the-greatest-boxing-match-of-my-generation-d911542002d4

[2015-02-24 12:46] SarrahV commented on #149
https://medium.com/@SVesselov/slow-and-steady-3ace31b62e73

http://sarrahv.github.io/intro-to-bdd/

https://github.com/SarrahV/intro-to-bdd

[2015-02-24 12:48] thebeckyhamm commented on #151
Repo: https://github.com/thebeckyhamm/intro-to-bdd
GH Pages: http://thebeckyhamm.github.io/intro-to-bdd/
Blog: https://medium.com/@TheBeckyHamm/things-are-clicking-398ae3102e9a

[2015-02-24 14:19] J5Beck commented on #143
https://medium.com/@JL5Beck/blog-4-4f3d86361300

having trouble with my repo.. trying to get it fixed

[2015-02-24 17:53] jisaacks commented on #20
perfect! thanks. :)

[2015-02-24 17:53] #20 closed, assigned to SlavicaM

[2015-02-24 17:59] jisaacks commented on #109
Good job on this.

[2015-02-24 17:59] #109 closed, assigned to SlavicaM

[2015-02-24 18:03] jisaacks commented on #83
@J5Beck don't forget to go back and make this complete when you can.

[2015-02-24 18:04] jisaacks commented on #84
Please push this to gh-pages so I can see what you have so far.

[2015-02-24 18:08] #93 closed, assigned to Kessaku

[2015-02-24 18:09] #94 closed, assigned to ktrammell95

[2015-02-24 18:11] #95 closed, assigned to mewilkerson

[2015-02-24 18:12] #96 closed, assigned to mrbrianleo

[2015-02-24 18:12] #97 closed, assigned to nobody

[2015-02-24 18:13] jisaacks commented on #98
:+1:

[2015-02-24 18:13] #98 closed, assigned to SarrahV

[2015-02-24 18:22] jisaacks commented on #112
Looks like you are doing better! :)

[2015-02-24 18:22] #112 closed, assigned to J5Beck

[2015-02-24 18:26] jisaacks commented on #100
:+1:

[2015-02-24 18:26] #100 closed, assigned to tawnimartin

[2015-02-24 18:27] J5Beck commented on #143
gh-pages - http://j5beck.github.io/intro-to-bdd-1
repo - https://github.com/J5Beck/intro-to-bdd-1

[2015-02-24 18:29] jisaacks commented on #101
:+1:

[2015-02-24 18:29] #101 closed, assigned to thebeckyhamm

[2015-02-24 18:31] jisaacks commented on #115
Matt I am closing this issue. Please put those comments for other assignments in the correct place so I will know to go check them :)

[2015-02-24 18:31] #115 closed, assigned to mewilkerson

[2015-02-24 18:34] #122 closed, assigned to J5Beck

[2015-02-24 18:37] #123 closed, assigned to Kessaku

[2015-02-24 18:38] #124 closed, assigned to ktrammell95

[2015-02-24 18:40] jisaacks commented on #125
I think you meant **_Instructors!**_

[2015-02-24 18:40] #125 closed, assigned to mewilkerson

[2015-02-24 18:41] #127 closed, assigned to nobody

[2015-02-24 18:44] jisaacks commented on #131
Awesome :)

[2015-02-24 18:44] #131 closed, assigned to thebeckyhamm

[2015-02-24 18:47] jisaacks commented on #132
Glat to hear :)

Great! I am going to mark it as incomplete for now. I will clause it out once you get it working :)

Sounds like maybe a browser caching issue. If you are still having issues I can have a look.

[2015-02-24 18:51] jisaacks commented on #133
Love it!

[2015-02-24 18:51] #133 closed, assigned to J5Beck

[2015-02-24 18:54] jisaacks commented on #135
You are getting an error because you are trying to load a css file but you have no css files. Please fix that and post back. Also when you comment, please include a link to the gh-pages page.

[2015-02-24 18:58] jisaacks commented on #137
This is really awesome so far. I am marking as incomplete for now because the back button does not work. Make that work and you are good to go! :)

[2015-02-24 18:59] jisaacks commented on #138
I absolutely love the way this looks! Lets try find some time to sit together and see if I can help you put the pieces together to get this completed. :)

[2015-02-24 19:18] jisaacks commented on #140
This looks really good. Like really really good! :)

[2015-02-24 19:18] #140 closed, assigned to tawnimartin

[2015-02-24 19:28] jisaacks commented on #141
Awesome job. Love how you properly used a modal without me teaching how. :+1:

[2015-02-24 19:28] #141 closed, assigned to thebeckyhamm

[2015-02-24 19:31] jisaacks commented on #142
Awesome! just waiting on the blog. Your code looks great.

[2015-02-24 19:38] jisaacks commented on #143
You might not have enjoyed writing your blog, but I enjoyed reading it!

Also the code you did looks great. Some tests need to be fixed tho: [these last 4](https://github.com/J5Beck/intro-to-bdd-1/blob/master/test/test.bar.js#L27-L59) you arent setting any expectations. Its going green, but only because you aren't actually testing anything.

Please fix that. Grab me if you need help. :)

[2015-02-24 19:40] jisaacks commented on #145
Looks great!

[2015-02-24 19:40] #145 closed, assigned to ktrammell95

[2015-02-24 19:42] jisaacks commented on #146
Looks great Matt!! :+1:

[2015-02-24 19:42] #146 closed, assigned to mewilkerson

[2015-02-24 20:05] jisaacks commented on #148
Glad to hear you got some good news!

[2015-02-24 20:05] #148 closed, assigned to nobody

[2015-02-24 20:13] #149 closed, assigned to SarrahV

[2015-02-24 20:15] #151 closed, assigned to thebeckyhamm

[2015-02-24 20:16] jisaacks opened #152 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:16] jisaacks opened #153 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:16] jisaacks commented on #153
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:16] jisaacks opened #154 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:16] jisaacks opened #155 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #156 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #157 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #158 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #159 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #160 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:17] jisaacks opened #161 "Assignment 16"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/016#022415

[2015-02-24 20:26] #61 closed, assigned to mrbrianleo

[2015-02-24 20:31] jisaacks commented on #32
Hey it's coming a long :)

Let me know when you want me to take another look.

[2015-02-24 20:33] jisaacks commented on #62
Jeff, I don't see anything here. Am I missing something?

[2015-02-24 20:41] #53 closed, assigned to J5Beck

[2015-02-24 20:42] #58 closed, assigned to SarrahV

[2015-02-24 20:43] jisaacks commented on #68
Great thanks.

[2015-02-24 20:43] #68 closed, assigned to SarrahV

[2015-02-24 20:44] jisaacks commented on #33
Thanks for getting this on Github pages. It still needs some work though, try to get it as close the the screen shot as you can.

[2015-02-24 22:49] ktrammell95 commented on #154
Slider example - https://github.com/ktrammell95/tiy-assignment-16
Writing and testing functions - https://github.com/ktrammell95/tiy-assignment-16-part2

[2015-02-25 02:59] thebeckyhamm commented on #161
Repo: https://github.com/thebeckyhamm/tiy-assignment-16
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-16/
Lib Test: http://thebeckyhamm.github.io/tiy-assignment-16/test/

[2015-02-25 03:18] ghost commented on #157
Accordion - http://pablo15.github.io/tiy-assignment-16/

Mocha Testing - http://pablo15.github.io/tiy-assignment-16/mochaTesting.html

Repo - https://github.com/pablo15/tiy-assignment-16

[2015-02-25 03:56] #154 closed, assigned to ktrammell95

[2015-02-25 03:59] jisaacks commented on #161
bueno!

[2015-02-25 03:59] #161 closed, assigned to thebeckyhamm

[2015-02-25 04:02] jisaacks commented on #157
Pablo, your library looks good but only has 1 function. Can you add some more?

[2015-02-25 04:16] mewilkerson commented on #155
Accordian:
http://mewilkerson.github.io/tiy-assignment-16/
https://github.com/mewilkerson/tiy-assignment-16/tree/gh-pages

I've been messing with the accordian all night long trying to get it to look and work right. I will have to do part 2 to this assignment when I get a chance. For tonight my brain is toast.

[2015-02-25 04:32] tawnimartin commented on #160
Hi JD!

Here's my homework:
http://tawnimartin.github.io/tiy-assignment-16/
https://github.com/tawnimartin/tiy-assignment-16/tree/gh-pages

I have not finished Part 2. :-( I am just so tired, I can't put 2 thoughts together.  I just did a silly function for kicks (but useful!).  Ok, so I know it's incomplete... I will have to jump on it tomorrow.  See you in class!

Tawni

[2015-02-25 13:07] SarrahV commented on #158
http://sarrahv.github.io/tiy-assignment-16-2/
https://github.com/SarrahV/tiy-assignment-16-2
http://sarrahv.github.io/tiy-assignment-16/
https://github.com/SarrahV/tiy-assignment-16/

[2015-02-26 00:17] jisaacks commented on #160
Tawni, your accordion looks amazing. You are such a great designer! I can't wait to see what you make for your final project. Also about your library, I saw your one function, I liked it. Let me know when you add some more so I can mark this as complete :)

[2015-02-26 00:27] jisaacks commented on #158
Thanks, I liked the name of your constructor, and your last function. I don't mean to say I like that you are exhausted, I just thought it was creative. Also I really like your entire attitude towards class. Very grounded. You are doing great, keep up the good work!

[2015-02-26 00:27] #158 closed, assigned to SarrahV

[2015-02-26 00:32] jisaacks commented on #155
Thanks Matt, let me know when you get part 2 done so I can mark this as complete. :)

[2015-02-28 16:45] ghost commented on #137
the back button now works.

http://pablo15.github.io/tiy-assignment-14/

[2015-02-28 21:49] jisaacks opened #162 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:49] jisaacks opened #163 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:49] jisaacks opened #164 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:49] jisaacks opened #165 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:50] jisaacks opened #166 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:50] jisaacks opened #167 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:50] jisaacks opened #168 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 21:50] jisaacks opened #169 "Assignment 17"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/017#022515

[2015-02-28 22:03] ktrammell95 commented on #165
https://github.com/ktrammell95/GitHub-Assignment

[2015-02-28 22:06] tawnimartin commented on #162
Hi JD!

Assignment links below:
http://tawnimartin.github.io/github-repo/
https://github.com/tawnimartin/github-repo/tree/gh-pages

I added a prompt to display another user's data in the layout - to make it easy for you to test. Your username displays the extra user info. I was going to do repo descriptions too, but I had to stop. Fun!

Tawni

[2015-03-01 00:44] jisaacks commented on #162
@tawnimartin I am blown away! This is so awesome! You thought it was fun? Thats even more awesome! Seriously, seeing how well you did actually made my day better! :)

[2015-03-01 00:44] #162 closed, assigned to tawnimartin

[2015-03-01 00:48] jisaacks commented on #165
@ktrammell95 awesome!!!

[2015-03-01 00:48] #165 closed, assigned to ktrammell95

[2015-03-01 00:50] jisaacks commented on #137
Awesome @pablo15 !!

I enjoyed checking out your photos, did you take them all?

[2015-03-01 00:50] #137 closed, assigned to nobody

[2015-03-01 01:47] tawnimartin commented on #162
Cool Beans! :-)  It IS getting fun!  Now that I'm kinda, sorta wrapping my arms around everything I'm seeing how awesome and fun it is... I already have 2 really cool ideas for my final project. I'll tell you later!!  See ya Monday!

[2015-03-01 17:04] ghost commented on #137
yeah those are all mine. I use to carry a camera with me everywhere so I
have a lot of pictures

On Sat, Feb 28, 2015 at 7:50 PM, JD Isaacks notifications@github.com
wrote:

##

Pablo Aguirre
813-391-6418

[2015-03-01 21:43] SarrahV commented on #168
https://github.com/SarrahV/github-repo/tree/gh-pages

http://localhost:8000/#tab2

*The #tab2 is in the url because I was playing around with functionality on the tabs. They work, but if you start out without the #tab2 in the url, the formatting is off. I would like to go back and clean this up at some point.

[2015-03-02 02:05] thebeckyhamm commented on #169
Repo: https://github.com/thebeckyhamm/tiy-assignment-17

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-17/

Still a little confused on the _.after portion of the API constructor.  Maybe we can go over it again tomorrow?

[2015-03-02 03:32] ghost commented on #167
I need to re-do the html and css.

https://github.com/pablo15/tiy-assignment-17
http://pablo15.github.io/tiy-assignment-17/

[2015-03-02 03:44] jisaacks commented on #169
Looks great.

If we have time, remind me and I will cover it again for the class. If not, I can go over it with you during lab.

[2015-03-02 03:44] #169 closed, assigned to thebeckyhamm

[2015-03-02 03:51] jisaacks commented on #168
Looks great @SarrahV, I know you were really stressed over this on Friday, now that you got it done, how do you feel about it?

[2015-03-02 03:51] #168 closed, assigned to SarrahV

[2015-03-02 03:53] mewilkerson commented on #166
Still have some fine details that could be tweaked, but I think I'm gonna call it a weekend with where I've got it now. Actually pretty happy overall with how it turned out.

GH Pages: http://mewilkerson.github.io/tiy-assignment-17/
Repo: https://github.com/mewilkerson/tiy-assignment-17/tree/gh-pages

[2015-03-02 03:57] jisaacks commented on #167
It looks good @pablo15, the only thing that jumps out at me is that you have it all shifted to the right instead of centered. Go ahead and fix that if you want, I am closing this out tho.

[2015-03-02 03:57] #167 closed, assigned to nobody

[2015-03-02 04:07] jisaacks commented on #166
Looks good @mewilkerson. The styling could be improved but your JS looks solid. :)

[2015-03-02 04:07] #166 closed, assigned to mewilkerson

[2015-03-02 13:09] J5Beck commented on #163
gh-pages: http://j5beck.github.io/assignment-17
repo:  https://github.com/J5Beck/assignment-17
... not pretty but I finally got my data on there.

[2015-03-03 03:10] jisaacks commented on #163
Hey Jeff, glad you got the data on there!

There seems to be a couple things in your CSS that are causing everything to shift like that. However, I think with a few minor tweaks it can be made much more attractive. Lets work together on this tomorrow.

[2015-03-03 05:05] jisaacks opened #170 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:05] jisaacks opened #171 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:05] jisaacks opened #172 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:06] jisaacks opened #173 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:06] jisaacks opened #174 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:06] jisaacks opened #175 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:06] jisaacks opened #176 "Assignment 18"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/018#030215

[2015-03-03 05:11] mewilkerson commented on #170
https://medium.com/@mwilk2CB/approaching-the-top-71db4970860d
https://github.com/mewilkerson/tiy-assignment-18/tree/gh-pages
http://mewilkerson.github.io/tiy-assignment-18/

[2015-03-03 05:52] jisaacks commented on #170
![](http://mypseudonym.com/wp-content/uploads/2013/10/Screen-Shot-2013-10-14-at-21.14.45.png)

[2015-03-03 05:52] #170 closed, assigned to mewilkerson

[2015-03-03 11:55] tawnimartin commented on #175
Hi JD -

Hope you are doing well.

Here are the links to my homework assignment:

http://tawnimartin.github.io/tiy-assignment-18/
https://github.com/tawnimartin/tiy-assignment-18/tree/gh-pages
https://medium.com/@tawnimartin/halfway-there-cec7120f0871

Tawni

[2015-03-03 12:47] ghost commented on #173
https://medium.com/@pabloaguirre100/beginning-week-6-at-the-iron-yard-88ab5cad45b8

http://pablo15.github.io/tiy-assignment-18/

https://github.com/pablo15/tiy-assignment-18

[2015-03-03 12:55] SarrahV commented on #174
https://medium.com/@SVesselov/frustration-cb99f647643b

https://github.com/SarrahV/tiy-assignment-18/tree/gh-pages

http://sarrahv.github.io/tiy-assignment-18/

[2015-03-03 13:02] thebeckyhamm commented on #176
Repo: https://github.com/thebeckyhamm/tiy-assignment-18
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-18/test/
Blog: https://medium.com/@TheBeckyHamm/backbone-aae82e23db72

[2015-03-03 13:27] ktrammell95 commented on #172
https://github.com/ktrammell95/tiy-assignment-18

https://medium.com/@ktrammell95/the-beginning-towards-the-end-11fd8ede78f

[2015-03-03 19:31] #176 closed, assigned to thebeckyhamm

[2015-03-03 19:45] jisaacks commented on #174
@SarrahV just read your blog post. I am sorry you have the extra stress of migraines on top of the stress of learning all this stuff. I know that can't be easy. I want you to know however, that you are doing great. You usually seem stressed and confused at first but you always power through it and turn in quality assignments. Good job.

[2015-03-03 19:45] #174 closed, assigned to SarrahV

[2015-03-03 20:15] jisaacks commented on #175
Tawni, you killed it. Excellent job on this assignment. Going the extra step and adding the extra properties and methods to be extended, plus your graph of the relationships shows that you really understand what is going on here.

I also I totally loved your blog post. I think I enjoyed it more than any I have read thus far. Partly because you said such kind things about me :), also because you se

[2015-03-03 20:15] #175 closed, assigned to tawnimartin

[2015-03-03 20:18] jisaacks opened #177 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:18] jisaacks opened #178 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:19] jisaacks opened #179 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:19] jisaacks opened #180 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:19] jisaacks opened #181 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:19] jisaacks opened #182 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:19] jisaacks opened #183 "Assignment 19"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/019#030315

[2015-03-03 20:20] tawnimartin commented on #175
Thank you JD! :-))))

[2015-03-03 20:32] thebeckyhamm commented on #183
Repo: https://github.com/thebeckyhamm/tiy-assignment-19
GH Pages: http://thebeckyhamm.github.io/tiy-assignment-19/

[2015-03-03 22:06] jisaacks commented on #183
Awesome job!

[2015-03-03 22:06] #183 closed, assigned to thebeckyhamm

[2015-03-03 23:33] ktrammell95 commented on #178
https://github.com/ktrammell95/tiy-assignment-19

[2015-03-03 23:35] ktrammell95 commented on #172
ok this should hopefully be fixed now

[2015-03-03 23:51] J5Beck commented on #171
Sorry JD... I didn't have my blog finished ... I usually have some time in the morning to knock it out but this morning was a little off.
https://medium.com/@JL5Beck/comparisons-36af12530aed
https://github.com/J5Beck/assignment-18
http://j5beck.github.io/assignment-18

[2015-03-04 03:03] ktrammell95 commented on #132
Just wanted to update you on my progress... all I need to do now is get my back button to work and I should be done.

[2015-03-04 03:37] mewilkerson commented on #179
http://mewilkerson.github.io/tiy-assignment-19/
https://github.com/mewilkerson/tiy-assignment-19/tree/gh-pages

[2015-03-04 03:49] ghost commented on #180
http://pablo15.github.io/tiy-assignment-19/

https://github.com/pablo15/tiy-assignment-19

[2015-03-04 04:20] tawnimartin commented on #182
Hi JD -

Here are the links to the homework assignment:
https://github.com/tawnimartin/tiy-assignment-19
http://tawnimartin.github.io/tiy-assignment-19/

I'm definitely not fully getting this... hopefully will make sense in time.

Tawni

[2015-03-04 12:28] SarrahV commented on #181
http://sarrahv.github.io/tiy-assignment-19/

https://github.com/SarrahV/tiy-assignment-19/tree/gh-pages

[2015-03-04 18:50] #173 closed, assigned to nobody

[2015-03-04 18:51] #172 closed, assigned to ktrammell95

[2015-03-04 18:54] #171 closed, assigned to J5Beck

[2015-03-04 18:58] jisaacks commented on #182
Don't fret, we just are getting started with backbone. We are going to play with it a lot for the remainder of our time. It will start to make sense. I am sure of it. :)

[2015-03-04 18:58] #182 closed, assigned to tawnimartin

[2015-03-04 18:59] #181 closed, assigned to SarrahV

[2015-03-04 19:02] #180 closed, assigned to nobody

[2015-03-04 19:05] #179 closed, assigned to mewilkerson

[2015-03-04 19:07] jisaacks commented on #178
Great job on the way you solved the headings. I think you are the only one who solved it that way :)

[2015-03-04 19:07] #178 closed, assigned to ktrammell95

[2015-03-04 19:09] jisaacks opened #184 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:09] jisaacks opened #185 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:09] jisaacks opened #186 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:09] jisaacks opened #187 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:09] jisaacks opened #188 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:10] jisaacks opened #189 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 19:10] jisaacks opened #190 "Assignment 20"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/020#030415

[2015-03-04 22:21] thebeckyhamm commented on #190
employees repo: https://github.com/thebeckyhamm/tiy-assignment-20
employees pages: http://thebeckyhamm.github.io/tiy-assignment-20/
koans repo: https://github.com/thebeckyhamm/javascript-koans
koans pages: http://thebeckyhamm.github.io/javascript-koans/KoansRunner.html

On the last problem, I didn't understand it but found a solution when i was googling for what these extra brackets mean:
    `var

[2015-03-05 02:23] ktrammell95 commented on #185
Part 1: https://github.com/ktrammell95/tiy-assignment-20

Part 2: https://github.com/ktrammell95/koans
I don't know if I did something wrong but I cannot see anything on my link right now

[2015-03-05 03:47] tawnimartin commented on #189
Hi JD -

Here are the links to my homework assignment
Part 1:
https://github.com/tawnimartin/tiy-assignment-20
http://tawnimartin.github.io/tiy-assignment-20/
Part 2:
https://github.com/tawnimartin/javascript-koans
http://tawnimartin.github.io/javascript-koans/KoansRunner.html

I wasn't able to finish them all tonight.

[2015-03-05 04:44] ghost commented on #187
I will have to try to finish up the Koans over the next couple of days.  I got caught up practicing writing code and reading over a few topics I guess but couldn't get through all of them.

Part 1 -----

https://github.com/pablo15/tiy-assignment-20-part1

http://pablo15.github.io/tiy-assignment-20-part1/

Part 2 -----

https://github.com/pablo15/tiy-assignment-20-part2

http://pablo15.github.io/ti

[2015-03-05 12:44] SarrahV commented on #188
https://github.com/SarrahV/tiy-assignment-20

https://github.com/SarrahV/koans

http://sarrahv.github.io/tiy-assignment-20/

http://sarrahv.github.io/koans/KoansRunner.html

[2015-03-05 20:39] mewilkerson commented on #186
Assignment 19 Refactored:
http://mewilkerson.github.io/tiy-assignment-19-clone/
https://github.com/mewilkerson/tiy-assignment-19-clone

Koans:
https://github.com/mewilkerson/javascript-koans/tree/gh-pages
Couldn't get the koans to load on gh pages...

[2015-03-09 12:12] jisaacks opened #191 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:12] jisaacks opened #192 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:13] jisaacks opened #193 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:13] jisaacks opened #194 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:13] jisaacks opened #195 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:13] jisaacks opened #196 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:13] jisaacks opened #197 "Assignment 21"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/021#030515

[2015-03-09 12:20] SarrahV commented on #195
http://sarrahv.github.io/tiy-assignment-21/

https://github.com/SarrahV/tiy-assignment-21

[2015-03-09 12:42] ktrammell95 commented on #192
https://github.com/ktrammell95/tiy-assignment-21

I had issues with my custom checkboxes, they work but you have to click in just the right spot.  If you have any tips on how to fix that they would be appreciated.

[2015-03-09 18:33] ktrammell95 commented on #132
Finally done!!!!!!!

[2015-03-09 19:56] SarrahV commented on #138
Finally got this one complete! The photos lineup is a little funky, I would like to go back and clean it up but I just can't look at it anymore today.

https://github.com/SarrahV/tiy-assignment-14/tree/gh-pages

http://sarrahv.github.io/tiy-assignment-14/

[2015-03-09 20:54] ktrammell95 commented on #192
Thanks again for your help on my custom checkbox buttons

[2015-03-09 21:21] jisaacks opened #198 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #199 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #200 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #201 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #202 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #203 "Blog"
due 03/10/15

[2015-03-09 21:22] jisaacks opened #204 "Blog"
due 03/10/15

[2015-03-09 21:29] jisaacks commented on #195
Great job!!!!

[2015-03-09 21:29] #195 closed, assigned to SarrahV

[2015-03-09 21:34] jisaacks commented on #192
:+1:

[2015-03-09 21:34] #192 closed, assigned to ktrammell95

[2015-03-09 21:40] jisaacks commented on #190
I was confused when I saw that also. I believe he was just using that as an example.

The `{}` was to indicate that it was supposed to be the actual ingredient name as the key.

I would have done it like this: { "< ingredient name >" : 0 }

it basically just means "`{this string}`" is supposed to be a value from a variable and not the actual value "`this string`".

[2015-03-09 21:40] #190 closed, assigned to thebeckyhamm

[2015-03-09 21:43] #188 closed, assigned to SarrahV

[2015-03-09 21:43] jisaacks commented on #187
Let me know when they are complete so I can come back and take a look. Thanks :)

[2015-03-09 21:46] jisaacks commented on #186
Matt, your koans are loading just fine on gh-pages for me: https://mewilkerson.github.io/javascript-koans/KoansRunner.html

You need to complete them tho. :)

[2015-03-09 21:48] jisaacks commented on #185
@ktrammell95 that is because your page is not named `index.html` so you have to access it directly by the page name: http://ktrammell95.github.io/koans/KoansRunner.html

It looks like there are some koans that you still need to complete. :)

[2015-03-09 21:49] #33 closed, assigned to Kessaku

[2015-03-09 21:49] #54 closed, assigned to Kessaku

[2015-03-09 21:49] #63 closed, assigned to Kessaku

[2015-03-09 21:49] #73 closed, assigned to Kessaku

[2015-03-09 21:49] #84 closed, assigned to Kessaku

[2015-03-09 21:49] #113 closed, assigned to Kessaku

[2015-03-09 21:49] #134 closed, assigned to Kessaku

[2015-03-09 21:49] #144 closed, assigned to Kessaku

[2015-03-09 21:49] #153 closed, assigned to Kessaku

[2015-03-09 21:49] #164 closed, assigned to Kessaku

[2015-03-09 21:51] #39 closed, assigned to SlavicaM

[2015-03-09 21:51] #59 closed, assigned to SlavicaM

[2015-03-09 21:51] #69 closed, assigned to SlavicaM

[2015-03-09 21:51] #90 closed, assigned to SlavicaM

[2015-03-09 21:51] #99 closed, assigned to SlavicaM

[2015-03-09 21:51] #119 closed, assigned to SlavicaM

[2015-03-09 21:51] #129 closed, assigned to SlavicaM

[2015-03-09 21:51] #139 closed, assigned to SlavicaM

[2015-03-09 21:51] #150 closed, assigned to SlavicaM

[2015-03-09 21:51] #159 closed, assigned to SlavicaM

[2015-03-09 21:51] #136 closed, assigned to mrbrianleo

[2015-03-09 21:52] #147 closed, assigned to mrbrianleo

[2015-03-09 21:52] #156 closed, assigned to mrbrianleo

[2015-03-09 21:56] jisaacks commented on #138
It looks great Sarrah!

Love the photos too, especially those mohawks!

Also, that temple in Atlanta is awesome, I need to figure out where that is.

[2015-03-09 21:56] #138 closed, assigned to SarrahV

[2015-03-09 21:57] jisaacks commented on #132
Great job!

[2015-03-09 21:57] #132 closed, assigned to ktrammell95

[2015-03-09 22:07] ktrammell95 commented on #199
https://medium.com/@ktrammell95/from-an-iron-yard-student-s-viewpoint-week-six-c3a89d79832e

[2015-03-09 23:36] thebeckyhamm commented on #204
https://medium.com/@TheBeckyHamm/brick-wall-dae133c16892

[2015-03-10 05:30] tawnimartin commented on #196
Hi JD -

Ok, unfortunately, still not complete, but I added the icons to the sidebar and the data!!!  Only thing left to do is the moment date... and the blog :-(. I'm sorry.. I'm getting behind.

https://github.com/tawnimartin/tiy-assignment-21/tree/refactor

[2015-03-10 11:47] SarrahV commented on #202
https://medium.com/@SVesselov/halfway-there-38c3298290ba

[2015-03-10 11:52] SarrahV commented on #138
Worst website ever, but an amazing place to visit. To really see the whole place, I would plan on a 2 hour visit. It is very small inside, but the carvings are very intricate. If you plan it right, you can be there when they open the sacred shrines in the mandir. Times are posted on the site :-)

http://atlanta.baps.org/

[2015-03-10 12:38] ktrammell95 commented on #185
All done

[2015-03-10 13:01] J5Beck commented on #198
https://medium.com/@JL5Beck/burnt-out-376166fceed

[2015-03-10 13:05] J5Beck commented on #177
https://github.com/J5Beck/assignment-19
http://j5beck.github.io/assignment-19

[2015-03-10 13:06] J5Beck commented on #163
Still need some more css adjustments but here is the progress I've made on it

[2015-03-10 13:10] J5Beck commented on #143
finished this up
gh-pages - http://j5beck.github.io/intro-to-bdd-1
repo - https://github.com/J5Beck/intro-to-bdd-1

[2015-03-10 13:22] J5Beck commented on #62
Sort of took a look at this again and I think I pushed to master and never updated gh-pages.  I didn't look at the details so I'm not sure of the details of the progress I said I made.

https://github.com/J5Beck/JS-Week-2

http://j5beck.github.io/JS-Week-2/

[2015-03-10 19:11] ghost commented on #201
https://medium.com/@pabloaguirre100/the-half-way-point-81071494a385

[2015-03-11 01:50] ghost commented on #194
still got a few more things to complete for this assignment but here is the link:

http://pablo15.github.io/tiy-assignment-21/

[2015-03-11 02:16] thebeckyhamm commented on #197
Repo: https://github.com/thebeckyhamm/tiy-assignment-21

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-21/

[2015-03-11 02:39] jisaacks opened #205 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:39] jisaacks opened #206 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:39] jisaacks opened #207 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:40] jisaacks opened #208 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:40] jisaacks opened #209 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:40] ktrammell95 commented on #205
https://github.com/ktrammell95/tiy-assignment-22

[2015-03-11 02:40] jisaacks opened #210 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:40] jisaacks opened #211 "Assignment 22"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/022#031015

[2015-03-11 02:52] ghost commented on #208
http://pablo15.github.io/tiy-assignment-22/

https://github.com/pablo15/tiy-assignment-22

[2015-03-11 10:07] J5Beck commented on #206
https://github.com/J5Beck/assignment-22
http://j5beck.github.io/assignment-22

[2015-03-11 11:35] SarrahV commented on #209
http://sarrahv.github.io/tiy-assignment-22/#

https://github.com/SarrahV/tiy-assignment-22

[2015-03-11 11:44] mewilkerson commented on #207
http://mewilkerson.github.io/router-refector/
https://github.com/mewilkerson/router-refector/tree/gh-pages

[2015-03-11 11:56] thebeckyhamm commented on #211
Repo: https://github.com/thebeckyhamm/tiy-assignment-21

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-21/

[2015-03-11 11:57] tawnimartin commented on #210
Hi JD!

Here's my assignment:

https://github.com/tawnimartin/router-refector
http://tawnimartin.github.io/router-refector/

Tawni

[2015-03-12 01:51] jisaacks opened #212 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:51] jisaacks opened #213 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:52] jisaacks opened #214 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:52] jisaacks opened #215 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:52] jisaacks opened #216 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:52] jisaacks opened #217 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 01:52] jisaacks opened #218 "Assignment 23"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/023#031115

[2015-03-12 04:04] tawnimartin commented on #217
Hi JD -

Here's my homework:
http://tawnimartin.github.io/soundz/
https://github.com/tawnimartin/soundz/tree/gh-pages

Tawni

[2015-03-12 04:28] ghost commented on #215
i forgot to use .navigate so when I pushed to gh pages none of my links worked. I am working on fixing it.

http://pablo15.github.io/tiy-assignment-23/

[2015-03-12 11:38] SarrahV commented on #216
http://sarrahv.github.io/tiy-assignment-23/

https://github.com/SarrahV/tiy-assignment-23

[2015-03-12 12:10] thebeckyhamm commented on #218
Repo: https://github.com/thebeckyhamm/tiy-assignment-23

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-23

Something weird happens when I click on Search and then click back to Genres - the buttons don't work any more. I need to look into that some more but I didn't notice it until late.

[2015-03-12 12:41] ktrammell95 commented on #213
https://github.com/ktrammell95/tiy-assignment-23

[2015-03-12 17:55] #185 closed, assigned to ktrammell95

[2015-03-12 17:56] #177 closed, assigned to J5Beck

[2015-03-12 17:58] jisaacks commented on #163
That is looking much better!

[2015-03-12 17:58] #163 closed, assigned to J5Beck

[2015-03-12 17:59] #143 closed, assigned to J5Beck

[2015-03-12 18:04] jisaacks commented on #62
Jeff you have a JS error coming from excercises.js it looks like you never ended the function: `function reverse(string){` on line 76

[2015-03-12 18:06] #201 closed, assigned to nobody

[2015-03-12 18:07] #194 closed, assigned to nobody

[2015-03-12 18:21] #205 closed, assigned to ktrammell95

[2015-03-12 18:21] #208 closed, assigned to nobody

[2015-03-12 18:23] jisaacks commented on #206
I don't think you pushed your correct code to gh-pages.

[2015-03-12 18:24] #209 closed, assigned to SarrahV

[2015-03-12 18:24] #207 closed, assigned to mewilkerson

[2015-03-12 18:30] #210 closed, assigned to tawnimartin

[2015-03-12 18:31] #217 closed, assigned to tawnimartin

[2015-03-12 18:32] jisaacks commented on #215
OK, let me know when you get this working.

[2015-03-12 18:33] #218 closed, assigned to thebeckyhamm

[2015-03-12 18:35] jisaacks commented on #211
Your actual assignment 22 looks awesome, you posted the link to assignment 21 tho. :stuck_out_tongue:

[2015-03-12 18:35] #211 closed, assigned to thebeckyhamm

[2015-03-12 19:33] J5Beck commented on #206
sorry about that - try now....
https://github.com/J5Beck/assignment-22
http://j5beck.github.io/assignment-22

[2015-03-12 19:49] #206 closed, assigned to J5Beck

[2015-03-12 19:56] thebeckyhamm commented on #197
Fixed: http://thebeckyhamm.github.io/tiy-assignment-21/

[2015-03-13 02:16] tawnimartin commented on #196
https://github.com/tawnimartin/tiy-assignment-21/tree/refactor
http://tawnimartin.github.io/tiy-assignment-21/

[2015-03-13 02:41] jisaacks commented on #196
I am constantly blown away by how talented a designer you are! Also great job on the code too. You said you had some ideas on final projects. I would love to hear them :)

[2015-03-13 02:41] #196 closed, assigned to tawnimartin

[2015-03-13 04:03] mewilkerson commented on #214
http://mewilkerson.github.io/tiy-assignment-23/#tracks/
https://github.com/mewilkerson/tiy-assignment-23/tree/gh-pages

[2015-03-15 18:21] jisaacks opened #219 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:21] jisaacks opened #220 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:21] jisaacks opened #221 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:21] jisaacks opened #222 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:21] jisaacks opened #223 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:22] jisaacks opened #224 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-15 18:22] jisaacks opened #225 "Assignment 24"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/024#031215

[2015-03-16 02:43] #214 closed, assigned to mewilkerson

[2015-03-16 02:44] #216 closed, assigned to SarrahV

[2015-03-16 02:45] #213 closed, assigned to ktrammell95

[2015-03-16 02:46] #204 closed, assigned to thebeckyhamm

[2015-03-16 02:46] #202 closed, assigned to SarrahV

[2015-03-16 02:46] thebeckyhamm commented on #225
Repo: https://github.com/thebeckyhamm/tiy-assignment-24

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-24/

This one was hard, there's still some bugs and I didn't get to do any auto-play stuff for it.

[2015-03-16 02:48] #199 closed, assigned to ktrammell95

[2015-03-16 02:48] #198 closed, assigned to J5Beck

[2015-03-16 02:57] #197 closed, assigned to thebeckyhamm

[2015-03-16 03:08] jisaacks commented on #225
Yeah, this was a hard assignment. I am trying to get everyone prepared for final projects. The only bug I noticed so far was when you search. You are trying to pause the currently playing song when a search is submitted. When there is no song playing though it causes an error and makes the search fail. You can fix that easily by checking if the stream exists before trying to pause it in your `mode

[2015-03-16 03:43] mewilkerson commented on #221
Turning in what I've got, but it's nowhere near close to complete.

https://github.com/mewilkerson/tiy-assignment-24

[2015-03-16 03:54] ghost commented on #222
its incomplete. Just turning in what I have so far.

http://pablo15.github.io/tiy-assignment-24/

https://github.com/pablo15/tiy-assignment-24

[2015-03-16 04:24] tawnimartin commented on #224
Hi JD -

This is definitely not done..  I'm having a problem with my navigation and playlist tracks are not playing.. I got them rendered though. I want to give them a different view, and get them to play in succession.  Lots to do but here but this is my progress so far:

http://tawnimartin.github.io/tiy-soundz-new/
https://github.com/tawnimartin/tiy-soundz-new

Also, I had to recreate the repo,

[2015-03-16 11:53] SarrahV commented on #223
http://sarrahv.github.io/tiy-assignment-24/
https://github.com/SarrahV/tiy-assignment-24

I am still struggling with some issue on this site. I was unable to get the favorites working and my main navigation is no longer working.

[2015-03-16 17:09] ktrammell95 commented on #219
Don't waste your time, I will reply again when it is worth looking at...

https://github.com/ktrammell95/tiy-assignment-24

[2015-03-17 02:26] jisaacks opened #226 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:26] jisaacks opened #227 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:26] jisaacks opened #228 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:27] jisaacks opened #229 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:27] jisaacks opened #230 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:27] jisaacks opened #231 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 02:27] jisaacks opened #232 "Assignment 25"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/025#031615

[2015-03-17 03:53] ghost commented on #229
http://pablo15.github.io/tiy-assignment-25/

https://github.com/pablo15/tiy-assignment-25

[2015-03-17 04:10] mewilkerson commented on #228
Couldn't get it working.
https://github.com/mewilkerson/tiy-assignment-25
http://mewilkerson.github.io/tiy-assignment-25/

[2015-03-17 05:13] tawnimartin commented on #231
Hi JD -

Here are the links to my assignment.. The one showing on ghpages is the first one I did.  But I tried another way of doing the search based on the tutorial, but that shows the value as you're typing.  I also tried one based on what we reviewed in class and could not figure it out. I think the last step is to pass the value from parent SearchBox to child SearchBar, but I can't figure out h

[2015-03-17 11:52] SarrahV commented on #230
http://sarrahv.github.io/tiy-assignment-25
https://github.com/SarrahV/tiy-assignment-25/tree/gh-pages
https://medium.com/@SVesselov/exhausted-35964e438256

Thank you for taking some time out yesterday to go over things again. I know that working with me must be very difficult at times. I get so frustrated with myself that I can't even think, pushing myself beyond the point of even being able to be

[2015-03-17 12:18] thebeckyhamm commented on #232
Repo: https://github.com/thebeckyhamm/tiy-assignment-25

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-25/

Blog: https://medium.com/@TheBeckyHamm/busy-737985b2610c

[2015-03-17 12:36] J5Beck commented on #226
https://medium.com/@JL5Beck/tired-of-tired-466164bcebf7
https://github.com/J5Beck/assignment-25
http://j5beck.github.io/assignment-25

[2015-03-17 12:56] ktrammell95 commented on #227
https://medium.com/@ktrammell95/remembering-how-far-i-have-come-28bd0d5abaca

https://github.com/ktrammell95/tiy-assignment-25

[2015-03-18 01:41] jisaacks opened #233 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:41] jisaacks opened #234 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:42] jisaacks opened #235 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:42] jisaacks opened #236 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:42] jisaacks opened #237 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:42] jisaacks opened #238 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:42] jisaacks opened #239 "Assignment 26"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/026#031715

[2015-03-18 01:50] #232 closed, assigned to thebeckyhamm

[2015-03-18 01:53] jisaacks commented on #231
You can always grab me in during lab and I would be glad to explain things.

[2015-03-18 01:53] #231 closed, assigned to tawnimartin

[2015-03-18 01:59] jisaacks commented on #230
I could tell you were really frustrated. But I don't look at it like something I have to put up with. More so I look at it like what can I do to raise your spirits, or how can I help with the understanding of parts that are causing frustration.

It really doesn't make me feel good to see my student in a low place. I want to do whatever I can.

[2015-03-18 01:59] #230 closed, assigned to SarrahV

[2015-03-18 02:00] #229 closed, assigned to nobody

[2015-03-18 02:02] jisaacks commented on #228
It was certainly working for me :)

[2015-03-18 02:02] #228 closed, assigned to mewilkerson

[2015-03-18 02:02] #227 closed, assigned to ktrammell95

[2015-03-18 02:04] jisaacks commented on #226
Jeff, is this supposed to be working? I am not seeing anything on the page.

[2015-03-18 02:11] ktrammell95 commented on #234
https://github.com/ktrammell95/tiy-assignment-26

[2015-03-18 02:16] #225 closed, assigned to thebeckyhamm

[2015-03-18 02:37] #234 closed, assigned to ktrammell95

[2015-03-18 02:41] mewilkerson commented on #235
http://mewilkerson.github.io/tiy-assignment-26/
https://github.com/mewilkerson/tiy-assignment-26

[2015-03-18 02:42] mewilkerson commented on #228
Must have been the code fairy...

[2015-03-18 03:44] ghost commented on #236
http://pablo15.github.io/tiy-assignment-26/

https://github.com/pablo15/tiy-assignment-26

[2015-03-18 11:36] J5Beck commented on #233
https://github.com/J5Beck/assignment-26/tree/gh-pages
http://j5beck.github.io/assignment-26

[2015-03-18 11:44] tawnimartin commented on #238
Hi JD -

Here's my assignment:

https://github.com/tawnimartin/tiy-assignment-26
http://tawnimartin.github.io/tiy-assignment-26/

I refactored the one we did in class but I still don't understand it.

[2015-03-18 11:45] SarrahV commented on #237
http://sarrahv.github.io/tiy-assignment-26/
https://github.com/SarrahV/tiy-assignment-26

[2015-03-18 11:52] J5Beck commented on #226
one more time...
https://github.com/J5Beck/assignment-25
http://j5beck.github.io/assignment-25

[2015-03-18 13:08] thebeckyhamm commented on #239
Sorry forgot to turn it in!
Repo: https://github.com/thebeckyhamm/tiy-assignment-26

GH Pages: http://thebeckyhamm.github.io/tiy-assignment-26/#pageone

[2015-03-19 01:04] jisaacks opened #240 "Assignment 27"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/027#031815

@mewilkerson @thebeckyhamm

[2015-03-19 01:04] jisaacks opened #241 "Assignment 27"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/027#031815

@tawnimartin @pablo15

[2015-03-19 01:05] jisaacks opened #242 "Assignment 27"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/027#031815

@SarrahV @ktrammell95

[2015-03-19 01:06] jisaacks opened #243 "Assignment 27"
https://github.com/tiy-tpa-js-q1-2015/assignments/tree/master/027#031815

[2015-03-19 01:07] jisaacks commented on #239
niice.

[2015-03-19 01:07] #239 closed, assigned to thebeckyhamm

[2015-03-19 01:08] #238 closed, assigned to tawnimartin

[2015-03-19 01:08] #237 closed, assigned to SarrahV

[2015-03-19 01:09] #236 closed, assigned to nobody

[2015-03-19 01:09] #235 closed, assigned to mewilkerson

[2015-03-19 01:10] #233 closed, assigned to J5Beck

[2015-03-19 01:11] jisaacks commented on #226
Great!

[2015-03-19 01:11] #226 closed, assigned to J5Beck

[2015-03-19 01:15] jisaacks commented on #228
Give me her github name, I'll just start assigning your issues to her. :)

[2015-03-19 01:58] SarrahV commented on #242
https://github.com/SarrahV/tiy-assignment-27

http://sarrahv.github.io/tiy-assignment-27/

[2015-03-19 02:27] jisaacks commented on #242
Looks awesome!

[2015-03-19 02:27] #242 closed, assigned to SarrahV

[2015-03-19 03:27] mewilkerson commented on #240
https://github.com/mewilkerson/tiy-assignment-27/tree/gh-pages
http://mewilkerson.github.io/tiy-assignment-27/

[2015-03-19 10:35] J5Beck commented on #243
I don't know JD... You may have a different opinion but I think my partner and I nailed this homework assignment. lol

https://github.com/J5Beck/assignment-27
http://j5beck.github.io/assignment-27
btw - this was really helpful for me.

[2015-03-19 20:15] ghost commented on #241
http://pablo15.github.io/tiy-assignment-27/

https://github.com/pablo15/tiy-assignment-27

[2015-03-19 21:33] tawnimartin commented on #231
Ok, updated based on our discussion, but I'm not quite there yet...
https://github.com/tawnimartin/tiy-assignment-25
http://tawnimartin.github.io/tiy-assignment-25/

[2015-03-23 00:23] tawnimartin commented on #130
D'oh!  It appears I did this and completely forgot to send you the links.  I checked my local version and it had the Bonus done as well... which I just pushed.  Here are the links!

https://github.com/tawnimartin/tiy-constructors/tree/gh-pages
http://tawnimartin.github.io/tiy-constructors/

Tawni

[2015-03-23 20:55] #130 closed, assigned to tawnimartin

[2015-03-23 20:56] #241 closed, assigned to tawnimartin

[2015-03-24 02:26] ghost commented on #215
this is working now. Let me know if you can close it out:

http://pablo15.github.io/tiy-assignment-23/

https://github.com/pablo15/tiy-assignment-23

[2015-03-24 03:28] tawnimartin commented on #189
Hi JD!

All the Koans are now complete!

[2015-03-24 21:00] ghost commented on #222
we talked about this. Looks like it can be closed out now. Let me know

[2015-03-26 17:51] tawnimartin commented on #224
Hi JD!

Ok, this is now done: http://tawnimartin.github.io/tiy-soundz-new.  Navigation fixed, playlist tracks playing.

[2015-03-26 20:55] ktrammell95 commented on #219
Please say this is good enough to close, I am so tired of looking at this dumb thing....

[2015-04-01 14:04] #189 closed, assigned to tawnimartin

[2015-04-01 14:05] #215 closed, assigned to nobody

[2015-04-01 14:56] jisaacks commented on #219
:+1:

[2015-04-01 14:56] #219 closed, assigned to ktrammell95

[2015-04-01 14:58] #222 closed, assigned to nobody

[2015-04-01 15:04] jisaacks commented on #224
Looks awesome!

[2015-04-01 15:04] #224 closed, assigned to tawnimartin

[2015-04-15 01:37] #240 closed, assigned to mewilkerson

[2015-04-15 01:37] #243 closed, assigned to J5Beck

[2015-04-15 01:37] #200 closed, assigned to mewilkerson

[2015-04-15 01:38] #65 closed, assigned to mewilkerson

[2015-04-15 01:39] #56 closed, assigned to mewilkerson

[2015-04-16 00:33] #203 closed, assigned to tawnimartin

[2015-04-16 00:35] #142 closed, assigned to tawnimartin

[2015-04-16 01:10] SarrahV commented on #223
http://sarrahv.github.io/tiy-assignment-24
https://github.com/SarrahV/tiy-assignment-24

Done!

[2015-04-16 21:35] mewilkerson commented on #155
Part 2 is now complete! http://mewilkerson.github.io/tiy-assignment-16-part-2/

[2015-04-16 21:37] mewilkerson commented on #35
You said you would accept my snazzy final project in lieu of this assignment.

[2015-04-16 21:39] mewilkerson commented on #221
You said you would accept my final project in lieu of this assignment since my app is using an API to pull in data.

[2015-04-16 21:57] mewilkerson commented on #193
You said you would close this one out since I have some similar functionality in my app.

[2015-04-16 23:03] mewilkerson commented on #186
Knocked out the koans! Apparently I reached enlightenment when I did that.

[2015-04-16 23:11] jisaacks commented on #223
Woohoo!

[2015-04-16 23:11] #223 closed, assigned to SarrahV

[2015-04-16 23:12] #186 closed, assigned to mewilkerson

[2015-04-16 23:13] #155 closed, assigned to mewilkerson

[2015-04-16 23:14] #193 closed, assigned to mewilkerson

[2015-04-16 23:14] #35 closed, assigned to mewilkerson

[2015-04-16 23:15] #221 closed, assigned to mewilkerson

[2015-04-17 03:08] mewilkerson commented on #88
Nailed it son!

http://mewilkerson.github.io/calculator/

[2015-04-24 05:26] #88 closed, assigned to mewilkerson